/* ==========================================================================
     ACtion Template or Action Related Widgets
   ========================================================================== */
/* page level configuration shortcuts */
.no-quick-login first-time-login {
  display: none;
}
/* images scaling with size */
#action-multimedia-teaser img {
  width: 100%;
  height: auto;
  max-width: 570px;
  /* image is 540px wide */
}
.action-template #main-section {
  background: #FFF;
  padding-bottom: 3em;
}
.action-template h1 {
  margin-bottom: .5em;
}
#action-form-message label {
  display: block;
  font-size: .9em;
  margin-top: .225em;
}
/*
    Small Prints

    Description    : checkbox is hidden
    Compatible     : ?
    Since                : ?
*/
#action-smallprints {
  margin: .25em 0;
}
#action-smallprints label,
#action-smallprints input[type=checkbox] {
  display: none;
}
#action-smallprints input + label {
  display: inline;
  font-size: 0.875em;
  /* 14px */
  line-height: 1.4em;
}
#action-smallprints .remember {
  margin-top: 0.5em;
}
#action-smallprints .remember input[type=checkbox] {
  display: inline;
  width: auto;
}
/*
    Action Counter

    Description    : counter with both graphical and text only
    Compatible     : ?
    Since                : ?
*/
#action-counter {
  margin: 0.4em 0;
}
#action-counter-graphical {
  transition: all 100ms ease-out;
  display: none;
  background: #e9ecf3;
}
#action-counter-graphical .completed {
  background: #66cc00;
  display: block;
  text-align: right;
  color: #FFF;
  text-shadow: 1px 1px 0 #4f4f4f;
  font-weight: bold;
  font-size: 1.125em;
  padding: .311em 0;
  text-indent: 0.2em;
}
#action-counter-graphical .objectives {
  display: none;
}
#action-counter-textual {
  margin: .25em 0;
  color: #666;
  font-style: italic;
  font-size: 0.688em;
}
/*
    Social Login

    Description    : social login buttons
    Compatible     : ?
    Since                : ?

    .facebook        facebook icon
    .google            google icon
*/
#main-section .social-login span {
  display: none;
}
#main-section .social-login a {
  height: 22px;
  /* 22px */
  width: 60px;
  /* 60px */
  display: inline-block;
  line-height: 1em;
  border: 1px solid #CCC;
  margin-bottom: -0.5em;
  padding: 0 6px;
  border-radius: 2px;
}
#main-section .social-login a.facebook {
  background: #fffdff url(../img/sociallogin.png) center 0 no-repeat;
}
#main-section .social-login a.google {
  background: #fffdff url(../img/sociallogin.png) center -22px no-repeat;
}
/*
    Recent Signers

    Description    : recent signers widget
    Compatible     : ?
    Since                : ?
*/
#action-recent-signers ul {
  padding: 0;
}
#action-recent-signers li {
  list-style-type: none;
  font-size: 0.813em;
  margin-bottom: 10px;
}
#action-recent-signers .since {
  width: 8em;
  display: inline-block;
  font-size: 0.813em;
  color: #666;
}
#action-recent-signers .name:after {
  content: ",";
}
#action-recent-signers .country {
  color: #777;
}
#action-recent-signers .flag {
  margin-right: .25em;
}
/* ==========================================================================
     ACtion Template Media Queries
     ========================================================================== */
/* See breakpoint from layout.css */
/* mobile first, up to 768 px */
#action-form-authentication .submit {
  position: relative;
  float: none;
  margin-left: 0;
  margin-top: .4em;
}
/* input length to fit the screen */
.action-template textarea,
.action-template input {
  width: 90%;
}
.action-template select {
  width: 94%;
}
.action-template .submit.full {
  width: 105%;
  font-size: 1.25em;
}
/* hide stuffs on mobile */
#action-recent-signers {
  display: none;
}
/* Tablets ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    /* page section = 700 + 15 + 15px */
    /* east side */
    /* west side */
    /* background box shenanigans */
    /* counter */
    /* input length to fit the screen */
  }
  html #action-h1 {
    float: left;
    clear: both;
    width: 100%;
  }
  html #action-recent-signers {
    display: block;
  }
  html #action-h2,
  html #action-ask,
  html #action-form,
  html #action-recent-signers {
    float: right;
    width: 250px;
    padding: 0 20px;
    margin: 0;
  }
  html #action-counter,
  html #action-details,
  html #action-social-share,
  html #action-multimedia-teaser {
    float: left;
    clear: left;
    width: 380px;
  }
  html #action-h2,
  html #action-ask,
  html #action-form {
    background: #e9ecf3;
  }
  html #action-ask p {
    margin-bottom: 0;
  }
  html #action-h2 {
    padding-top: 20px;
  }
  html #action-form {
    padding-bottom: 20px;
  }
  html #action-counter-graphical {
    display: block;
  }
  html .action-template textarea,
  html .action-template input {
    width: 90%;
  }
  html .action-template select {
    width: 94%;
  }
  html .action-template .submit.full {
    width: 110%;
    font-size: 1.25em;
  }
}
.sevensome {
  /* page section = 700 + 15 + 15px */
  /* east side */
  /* west side */
  /* background box shenanigans */
  /* counter */
  /* input length to fit the screen */
}
.sevensome #action-h1 {
  float: left;
  clear: both;
  width: 100%;
}
.sevensome #action-recent-signers {
  display: block;
}
.sevensome #action-h2,
.sevensome #action-ask,
.sevensome #action-form,
.sevensome #action-recent-signers {
  float: right;
  width: 250px;
  padding: 0 20px;
  margin: 0;
}
.sevensome #action-counter,
.sevensome #action-details,
.sevensome #action-social-share,
.sevensome #action-multimedia-teaser {
  float: left;
  clear: left;
  width: 380px;
}
.sevensome #action-h2,
.sevensome #action-ask,
.sevensome #action-form {
  background: #e9ecf3;
}
.sevensome #action-ask p {
  margin-bottom: 0;
}
.sevensome #action-h2 {
  padding-top: 20px;
}
.sevensome #action-form {
  padding-bottom: 20px;
}
.sevensome #action-counter-graphical {
  display: block;
}
.sevensome .action-template textarea,
.sevensome .action-template input {
  width: 90%;
}
.sevensome .action-template select {
  width: 94%;
}
.sevensome .action-template .submit.full {
  width: 110%;
  font-size: 1.25em;
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  html {
    /* show background image */
    /* page section = 940 + 20 + 20px */
    /* east side */
    /* background box shenanigans */
    /* west side */
    /* input length to fit the sidebar */
  }
  html .action-template #main-container {
    background: transparent url(../img/background.jpg) center 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  html #action-h1 {
    float: left;
    clear: both;
    width: 100%;
  }
  html #action-h2,
  html #action-ask,
  html #action-form,
  html #action-recent-signers {
    float: right;
    width: 340px;
    padding: 0 20px;
    margin: 0;
  }
  html #action-h2,
  html #action-ask,
  html #action-form {
    background: #e9ecf3;
  }
  html #action-ask p {
    margin-bottom: 0;
  }
  html #action-h2 {
    padding-top: 20px;
  }
  html #action-form {
    padding-bottom: 20px;
  }
  html #action-counter,
  html #action-details,
  html #action-social-share,
  html #action-multimedia-teaser {
    float: left;
    clear: left;
    width: 520px;
    /* + 40px margin */
  }
  html #action-counter-graphical {
    display: block;
  }
  html #action-form .action-template textarea,
  html #action-form .action-template input[type=text] {
    width: 19em;
  }
  html #action-form .action-template select {
    width: 20em;
  }
  html #action-form .action-template textarea {
    width: 23.5em;
  }
  html #action-form .action-template .submit.full input {
    width: 16.75em;
  }
  html #action-form .action-template #action-submit-quick.submit {
    margin-right: 0;
  }
  html #action-form .action-template #action-submit-full.submit {
    margin-top: .5em;
    font-size: 1.25em;
  }
}
.desktop {
  /* show background image */
  /* page section = 940 + 20 + 20px */
  /* east side */
  /* background box shenanigans */
  /* west side */
  /* input length to fit the sidebar */
}
.desktop .action-template #main-container {
  background: transparent url(../img/background.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.desktop #action-h1 {
  float: left;
  clear: both;
  width: 100%;
}
.desktop #action-h2,
.desktop #action-ask,
.desktop #action-form,
.desktop #action-recent-signers {
  float: right;
  width: 340px;
  padding: 0 20px;
  margin: 0;
}
.desktop #action-h2,
.desktop #action-ask,
.desktop #action-form {
  background: #e9ecf3;
}
.desktop #action-ask p {
  margin-bottom: 0;
}
.desktop #action-h2 {
  padding-top: 20px;
}
.desktop #action-form {
  padding-bottom: 20px;
}
.desktop #action-counter,
.desktop #action-details,
.desktop #action-social-share,
.desktop #action-multimedia-teaser {
  float: left;
  clear: left;
  width: 520px;
  /* + 40px margin */
}
.desktop #action-counter-graphical {
  display: block;
}
.desktop #action-form .action-template textarea,
.desktop #action-form .action-template input[type=text] {
  width: 19em;
}
.desktop #action-form .action-template select {
  width: 20em;
}
.desktop #action-form .action-template textarea {
  width: 23.5em;
}
.desktop #action-form .action-template .submit.full input {
  width: 16.75em;
}
.desktop #action-form .action-template #action-submit-quick.submit {
  margin-right: 0;
}
.desktop #action-form .action-template #action-submit-full.submit {
  margin-top: .5em;
  font-size: 1.25em;
}
/* Large screens -----------
@media only screen 
and (min-width : 1600px) {
    #action-form {
        float:right;
    }
    #action-details,
    #action-multimedia-teaser {
        width:570px;
        float:left;
        clear:both;
    }
} */
/* Browser specific hacks --------- */
.lt-ie7 .sevensome #action-form textarea,
.lt-ie7 .sevensome #action-form input {
  width: 98%;
}
.lt-ie7 .sevensome #action-form .submit {
  width: 100%;
}
.lt-ie7 #action-smallprints .shortlabel,
.lt-ie7 #action-smallprints .smallprint input {
  display: none;
}
.lt-ie7 #action-smallprints .remember input {
  width: auto;
}
.lt-ie7 #action-smallprints .longlabel {
  display: inline;
  font-size: 0.875em;
  line-height: 1.4em;
  font-weight: normal;
}
