.dropdown {
	position: absolute;
	z-index: 999;
	display: none;
}
.dropdown .dropdown-list,
.dropdown .dropdown-panel {
	list-style: none;
	background: #FFF;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	overflow: visible;
	padding: 4px 0;
	margin: 0;
}
.dropdown .dropdown-panel {
	padding: 10px;
}

/* tooltip triangle trick */
.dropdown.dropdown-tip {
	margin-top: 8px;
}
.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:before {
	left: auto;
	right: 9px;
}
.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}
.dropdown.dropdown-tip.dropdown-anchor-right:after {
	left: auto;
	right: 10px;
}
.dropdown.dropdown-scroll .dropdown-list,
.dropdown.dropdown-scroll .dropdown-panel {
	max-height: 350px;
	overflow: auto;
}

/* list items and dividers */
.dropdown .dropdown-list li {
	list-style: none;
	padding: 0 0;
	margin: 0;
	line-height: 18px;
}
.dropdown .dropdown-list li a,
.dropdown .dropdown-list span {
	display: block;
	color: #555;
	text-decoration: none;
	line-height: 18px;
	padding: 3px 10px;
	white-space: nowrap;
}
.dropdown .dropdown-list li a:hover,
.dropdown .dropdown-list span:hover {
	background-color: #4d535f;
	color: #FFF;
	cursor: pointer;
}
.dropdown .dropdown-list .dropdown-divider {
	font-size: 1px;
	border-top: solid 1px #E5E5E5;
	padding: 0;
	margin: 5px 0;
}

