/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 12px;
	line-height: normal;
}
p {
	font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif;
	line-height: 18px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}


/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
/*
 * General:
 */
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
/*	background: black url(../img/bg-body.gif) 0 0 repeat-x;*/
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.button {
	line-height: 22px;
	font-size: 13px;
	font-weight: bold;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



.action .heading {
	width:520px;
	overflow:hidden;
	padding:0 6px 15px 14px;
	border-bottom: 2px dotted grey;
}
.action h1 {
	margin: 0 0 5px;
	font-size: 18px;
	font-weight: normal;
}
.action h2 {
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 20px;
}
.action .heading p {
	margin: 0 0 28px;
	font-size: 12px;
	line-height: 18px;
}
p a {
	color: #467f0d;
}
.placeholder {
	background: black;
	margin: 0 0 20px;
	padding: 5px;
	text-align: center;
	position: relative;
}
.bar {
	background: #fafbfb;
	border: 1px solid #e7e7e7;
	padding: 14px;
	margin: 0 0 20px;
}
.bar .frame {
	background: white;
	border: 1px solid #e7e7e7;
	padding: 14px;
}
.bar p {
	margin: 0 0 20px;
	font: 14px/20px Georgia,"Times New Roman",Times,serif;
	color: black;
}
.text-holder {
	width: 368px;
	overflow: hidden;
	color: #fff;
	font: 11px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0 0 0 13px;
	margin: 0 0 14px;
}




/*
 * Main Content:
 */
.wrapper {
	padding: 88px 0 0;/*make way for header*/
}
.main {
	background: url(../img/bkcement4.jpg) 0 0 repeat-y;
	padding: 10px;
}
.breadcrumbs {
	margin: 0;
	padding: 0 0 10px 10px;
	list-style: none;
}
.breadcrumbs li {
	float: left;
	padding: 0 0 0 4px;
	font-size: 10px;
	color: white;
	font-weight: bold;
}
.breadcrumbs li a {
	background: url(../img/bullet1.gif) no-repeat 100% 4px;
	font-size: 10px;
	color: white;
	padding: 0 9px 0 0;
	font-weight: normal;
}
/*
 * counter
 */
.meter-wrap, .meter-value {
	background-color: #d7d2d2;
}
.meter-wrap {
	position: relative;
}
.meter-wrap, .meter-value, .meter-text, .border {
	width: 280px;
	height: 25px;
	line-height: 25px;
}
.meter-value {
	background-color: #fba239;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fba239), to(#fba239));
	background-image: -webkit-linear-gradient(top, #fba239, #fba239);
	background-image: -moz-linear-gradient(top, #fba239, #fba239);
	background-image: -ms-linear-gradient(top, #fba239, #fba239);
	background-image: -o-linear-gradient(top, #fba239, #fba239);
}
.meter-text {
	color: #fff;
	text-align: right;
	float: right;
	font-weight: bold;
	margin-right: 5px;
	font-family: sans-serif;
	font-size: 16px;
}
/*
 * notification
 */

.notification {
	position: absolute;
	z-index:1000;
	width: 400px;
	top: 3px;
	border: 1px #52AC00;
	
	font-size: 13px;
	color: #363;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(228,239,192, 1);
	-webkit-box-shadow: 3px 3px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:	3px 3px 11px rgba(50, 50, 50, 0.75);
	box-shadow:		 3px 3px 11px rgba(50, 50, 50, 0.75);
	background: #e4efc0;
	background: -moz-linear-gradient(top,	#e4efc0 0%, #abbd73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73));
	background: -webkit-linear-gradient(top,	#e4efc0 0%,#abbd73 100%);
	background: -o-linear-gradient(top,	#e4efc0 0%,#abbd73 100%);
	background: -ms-linear-gradient(top,	#e4efc0 0%,#abbd73 100%);
	background: linear-gradient(to bottom,	#e4efc0 0%,#abbd73 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 );
}
.notification a {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: none;
}

/* ==========================================================================
	 has/hasno JS
	 ========================================================================== */

html.js .header div.select-area {
	display:block;
}
html.js .header div.international select, 
html.js .header div.international input, 
html.js .header div.language select, 
html.js .header div.language input {
	display:none;
}
html.no-js div.language {
	min-width: 184px;
}


