        @media only screen and (min-width: 1024px) {
         .action-template #main-container {
            background: transparent url('//www.greenpeace.org/international/Global/international/artwork/climate/2013/Shell_hell_bg_2.jpg') center 0 no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          #main-section { padding-top:1.25em;}
          #action-smallprints {font-size:.75em;}
        }
        h1, #action-ask { display:none; }
        #action-form { padding-top:.5em; }
