/* ==========================================================================
     ACtion Template or Action Related Widgets
   ========================================================================== */
/* page level configuration shortcuts */
.no-quick-login first-time-login {
    display:none
}

/* images scaling with size */
#action-multimedia-teaser img {
    width: 100%;
    height: auto;
    max-width: 570px; /* image is 540px wide */
}

.action-template #main-section {
    background:#FFF;
    padding-bottom:3em;
}
.action-template h1 {
    margin-bottom:.5em;
}

#action-form-message label {
  display:block;
    font-size:.9em;
    margin-top:.225em;
}
/*
    Small Prints

    Description    : checkbox is hidden
    Compatible     : ?
    Since                : ?
*/
#action-smallprints {
    margin:.25em 0;
}
#action-smallprints label,
#action-smallprints input[type=checkbox] {
    display:none;
}
#action-smallprints input + label {
    display:inline;
    font-size:0.875em; /* 14px */
    line-height:1.4em;
}
#action-smallprints .remember {
    margin-top:0.5em;
}
#action-smallprints .remember input[type=checkbox] {
    display: inline;
    width: auto;
}
/*
    Action Counter

    Description    : counter with both graphical and text only
    Compatible     : ?
    Since                : ?
*/
#action-counter {
    margin:0.4em 0;
}
#action-counter-graphical {
    transition:all 100ms ease-out;
    display:none;
    background:#e9ecf3;
}
#action-counter-graphical .completed {
    background:#66cc00;
    display:block;
    text-align:right;
    color:#FFF;
    text-shadow:1px 1px 0 #4f4f4f;
    font-weight:bold;
    font-size:1.125em;
    padding:.311em 0;
    text-indent:0.2em;        
}
#action-counter-graphical .objectives {
    display:none;
}
#action-counter-textual {
    margin:.25em 0;
    color:#666;
    font-style:italic;
    font-size:0.688em;
}

/*
    Social Login

    Description    : social login buttons
    Compatible     : ?
    Since                : ?

    .facebook        facebook icon
    .google            google icon
*/
#main-section .social-login span {
    display:none;
}
#main-section .social-login a {
    height:22px; /* 22px */
    width:60px; /* 60px */
    display:inline-block;
    line-height:1em;
    border:1px solid #CCC;
    margin-bottom:-.5em;
    padding:0 6px;
    border-radius:2px;
}
#main-section .social-login a.facebook {
    background:#fffdff url(../img/sociallogin.png) center 0 no-repeat;
}
#main-section .social-login a.google {
    background:#fffdff url(../img/sociallogin.png) center -22px no-repeat;
}

/*
    Recent Signers

    Description    : recent signers widget
    Compatible     : ?
    Since                : ?
*/
#action-recent-signers ul {
    padding:0;
}
#action-recent-signers li {
    list-style-type:none;
    font-size:0.813em;
    margin-bottom:10px;
}
#action-recent-signers .since {
    width:8em;
    display:inline-block;
    font-size:0.813em;
    color:#666;
}
#action-recent-signers .name:after {
    content:",";
}
#action-recent-signers .country {
    color:#777;
}
#action-recent-signers .flag {
    margin-right:.25em;
}


/* ==========================================================================
     ACtion Template Media Queries
     ========================================================================== */
/* See breakpoint from layout.css */
/* mobile first, up to 768 px */
    #action-form-authentication .submit {
    position:relative;
    float:none;
    margin-left:0;
    margin-top:.4em;
}

/* input length to fit the screen */
.action-template textarea,
.action-template input {
    width:90%;
}
.action-template select {
    width:94%;
}
.action-template .submit.full {
    width:105%;
    font-size:1.25em;
}

/* hide stuffs on mobile */
#action-recent-signers {
    display:none;
}


/* Tablets ----------- */
.action_template_tablet() {
    /* page section = 700 + 15 + 15px */
    #action-h1 {
        float:left;
        clear:both;
        width:100%;
    }
    #action-recent-signers {
        display:block;
    }
    /* east side */
    #action-h2,
    #action-ask,
    #action-form,
    #action-recent-signers {
        float:right;
        width:250px;
        padding:0 20px;
        margin:0;
    }
    /* west side */
    #action-counter,
    #action-details,
    #action-social-share,
    #action-multimedia-teaser {
        float:left;
        clear:left;
        width:380px;
    }
    /* background box shenanigans */
    #action-h2,
    #action-ask,
    #action-form {
        background:#e9ecf3;
    }
    #action-ask p {
        margin-bottom:0;
    }
    #action-h2 {
        padding-top:20px;
    }
    #action-form {
        padding-bottom:20px;
    }
    /* counter */
    #action-counter-graphical {
        display:block;
    }
    /* input length to fit the screen */
    .action-template textarea,
    .action-template input {
        width:90%;
    }
    .action-template select {
        width:94%;
    }
    .action-template .submit.full {
        width:110%;
        font-size:1.25em;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  html {
    .action_template_tablet;
  }
}
.sevensome {
  .action_template_tablet;
}

/* Desktops and laptops ----------- */
.action_template_desktop() {
    /* show background image */
    .action-template #main-container {
        background:transparent url(../img/background.jpg) center 0 no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* page section = 940 + 20 + 20px */
    #action-h1 {
        float:left;
        clear:both;
        width:100%;
    }
    /* east side */
    #action-h2,
    #action-ask,
    #action-form,
    #action-recent-signers {
        float:right;
        width:340px;
        padding:0 20px;
        margin:0;
    }
    /* background box shenanigans */
    #action-h2,
    #action-ask,
    #action-form {
        background:#e9ecf3;
    }
    #action-ask p {
        margin-bottom:0;
    }
    #action-h2 {
        padding-top:20px;
    }
    #action-form {
        padding-bottom:20px;
    }

    /* west side */
    #action-counter,
    #action-details,
    #action-social-share,
    #action-multimedia-teaser {
        float:left;
        clear:left;
        width:520px; /* + 40px margin */
    }
    #action-counter-graphical {
        display:block;
    }
    /* input length to fit the sidebar */
    #action-form {
        .action-template textarea,
        .action-template input[type=text] {
            width:19em;
        }
        .action-template select {
            width:20em;
        }
        .action-template textarea {
            width:23.5em;
        }
        .action-template .submit.full input{
            width:16.75em;
        }
        .action-template #action-submit-quick.submit {
            margin-right:0;
        }
        .action-template #action-submit-full.submit    {
            margin-top:.5em;
            font-size:1.25em;
        }
    }
}
@media only screen and (min-width : 1024px) {
  html {
    .action_template_desktop;
  }
}
.desktop {
  .action_template_desktop;
}
/* Large screens -----------
@media only screen 
and (min-width : 1600px) {
    #action-form {
        float:right;
    }
    #action-details,
    #action-multimedia-teaser {
        width:570px;
        float:left;
        clear:both;
    }
} */

/* Browser specific hacks --------- */
.lt-ie7 {
    .sevensome #action-form {
        textarea, input {
            width: 98%;
        }
        .submit {
            width: 100%;
        }
    }
    #action-smallprints {
        .shortlabel,
        .smallprint input {
            display: none;
        }
        .remember input {
            width: auto;
        }
        .longlabel{
            display: inline;
            font-size: 0.875em;
            line-height: 1.4em;
            font-weight: normal;
        }
    }
}
