/* ==========================================================================
     Form
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
    Generic Form Item

    Description	: labels and input are wrapped in a <div.text>
    Compatible	: FF2+, Chrome1+, IE?, Opera?, Safari?
    Since		: version 3.0

    :hover		- subtle hover highlight
    :active		- inset box shadow
    .disabled	- grey out to indicate it cannot be used
*/
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
    background:@white;
    border:1px solid @grays-4;
    padding:.4em .5em .3em .5em;
    display:inline-block;

    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    margin:.2em 0 .5em 0;
    -webkit-appearance:none;
    .rounded_all(3px);
    .boxshadow(inset; 0; 2px; 3px; rgba(0,0,0,0.1));
}

/* Large screens ----------- */
.layout_large() {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=search],
  input[type=tel],
  textarea {
    min-width:17.5em;
  }
  select {
    min-width:16.25em;
  }
}

/*
    TextField

    Description	: labels and input are wrapped in a div with the type of the class
    Compatible	: FF2+, Chrome1+,
    Since		: version 3.0

    :hover			 - subtle hover highlight
    :active			- inset box shadow
    .disabled		- grey out to indicate it cannot be used
*/
label {
    display:none;
    padding:.5em 0 7px 7px;
}
.no-placeholder label {
    display:block;
    margin-top: .225em;
}
.search-form label { 
    font-weight: normal;
}
.no-placeholder .search-form label {
    display: none;
}
.lt-ie7 {
    #search {
        margin-top: -2px;

        #search-submit {
            display: block;
            width: 20px;
            height: 20px;
            margin-top: -24px;
        }
    }
}

textarea,
input[type=password],
input[type=search],
input[type=email],
input[type=text],
input[type=tel] {
    border-top:1px solid @grays-4;
}
textarea,
input[type=password]:hover,
input[type=search]:hover,
input[type=email]:hover,
input[type=text]:hover,
input[type=tel]:hover {
    border:1px solid #999;
}
textarea:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=text]:focus,
input[type=tel]:focus {
    -webkit-box-shadow: inset 1px 1px 2px rgba(255,255,255,.2);
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.2);
    border:1px solid @greens-6;
}

textarea:disabled,
input:disabled,
input:disabled:hover,
textarea:disabled:hover {
    border:1px solid @grays-4;
    .boxshadow(0; 0; 0; 0);
    cursor:normal;
    background:#F3F3F3;
}

/*
    Required Textfield

    Description	: Label and input are wrapped in <div.text.required>. Additional <span> with a star is included. Input also get the required class.
    Compatible	: FF2+, Chrome1+, IE?, Opera?, Safari?
    Since		: version 3.0

    .required		- additional red star
*/
.required label:after {
    content:" *";
    color:@red-1;
    font-weight:bold;
}

/*
    Large textarea Textfield

    Description	: textarea.textarea is pretty much the same than div.input.text.
    Compatible	: FF2+, Chrome1+, IE?, Opera?, Safari?
    Since		: version 3.0

    .required	- additional red star
    .lager		- make the box bigger
*/
textarea {
    height:8em;
    width:17.5em;
    border:1px solid @grays-4;
}
.textarea.large textarea {
    width:30em;
    height:7em;
}


