/* ==========================================================================
     Typography rules
   ========================================================================== */
body {
	font-size: 16px; /* 1em = 16px */
	line-height: normal;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	color: @grays-1;
}

/* paragraphs and lists */
p {
	font-size:.875em;	/* 14px/16 */
	line-height:1.4em;
}
#main-section li {
	font-size:.875em;	/* 14px/16 */
}

/* links */
a, a:visited {
	text-decoration: none;
	color: @greens-3;
}
a:hover, a:focus {
	text-decoration: underline;
}

/* titles */
h1 {
	font-size: 1.75em; /* 28px/16 */
	font-family:Helvetica,Arial,sans-serif;
	margin-top:.625em; 
	color: @greens-6;
	font-weight:bold;
}
h2 {
	font-size: 1.375em; /* 22px/16 */
	font-family:Helvetica,Arial,sans-serif;
	color: @greens-1;
	font-weight:bold;
}
h3 {
	color: @greens-1;
	font-family:Helvetica,Arial,sans-serif;
	font-weight:bold;
}
h4 {
}
h5 {
}
h6 {
}

/* form inputs text  */
form input[type=text],
form input[type=password],
form input[type=email],
form input[type=search],
form input[type=tel], 
form textarea,
form label,
form legend {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color:@grays-1;
	font-size:.875em;	/* 14px/16 */
  font-weight:normal;
}

form .tooltip,
form .message {
	font-size:.875em;	/* 14px/16 */
}

