/*
Typography rules

Styleguide 2.
*/

body {
  font-size: 16px; /* 1em = 16px */
  line-height: normal;
  font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
  color: @grays-1;

/*
Paragraphs

Markup:
<p>Long paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor sub text ut labore et sup text magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Medium paragraph: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<p>One sentece: Donec eu libero sit amet quam egestas semper, enean ultricies mi vitae est.</p>

Styleguide 2.1
*/

  p {
    font-size:.875em;	/* 14px/16 */
    line-height:1.4em;
  }

/*
Listing

Styleguide 2.2
*/

/*
Unordered List

Markup:
<div id="main-section">
  <ul>
    <li>Unordered list test:</li>
    <li><ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul></li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ul>
</div>

Styleguide 2.2.1
*/

/*
Ordered List

Markup:
<div id="main-section">
  <ol>
    <li>Ordered list test:</li>
    <li><ol>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ol></li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ol>
</div>

Styleguide 2.2.2
*/

  #main-section {
    li {
      font-size:.875em;	/* 14px/16 */
      li {
        font-size:1em;
      }
    }  
  }
    
/*
Link

Markup:
<a class="{$modifiers}">This is a link!</a>

:visited              - When the link is visited, it keeps the color and has no decoration.
:hover                - When the link is hovered, the cursor became a pointer and the link is underlined.
:focus                - When the link is focused, the link is underlined and with a thin dotted outline.

Styleguide 2.3
*/

  a, a:visited {
    text-decoration: none;
    color: @greens-3;
  }
  a:hover, a:focus {
    text-decoration: underline;
    cursor: pointer; // KSS styleguide
  }

/*
Titles

Markup:
<h1>This is a h1 title</h1>
<h2>This is a h2 title</h2>
<h3>This is a h3 title</h3>
<h4>This is a h4 title</h4>
<h5>This is a h5 title</h5>
<h6>This is a h6 title</h6>

Styleguide 2.4
*/ 

  h1, h2, h3 {
    color: @greens-1;
    font-family:Helvetica,Arial,sans-serif;
    font-weight:bold;
  }
  h1 {
    font-size: 1.75em; /* 28px/16 */
    margin-top:.625em; 
  }
  h2 {
    font-size: 1.375em; /* 22px/16 */
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
  
  /* form inputs text  */
  form input[type=text],
  form input[type=password],
  form input[type=email],
  form input[type=search],
  form input[type=tel], 
  form textarea,
  form label,
  form legend {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:@grays-1;
    font-size:.875em;	/* 14px/16 */
    font-weight:normal;
  }

  form .tooltip,
  form .message {
    font-size:.875em;	/* 14px/16 */
  }

  .country-selector {
      font-family: Arial,Helvetica,sans-serif;
  }
}

/*
Kitchen Sink

Markup:
<h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1>
<h2>Aenean commodo ligula eget dolor aenean massa</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa <strong>strong</strong>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede <a class="external ext" href="#">link</a> mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
<h3>Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
<h4>Donec quam felis ultricies nec pellentesque eu pretium quis sem nlla consequat massa quis enim</h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
ultricies nec, pellentesque eu, pretium quis, sem.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
<h5>Donec pede justo fringilla vel aliquet nec vulputate eget arcu</h5>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
<h6>In enim justo rhoncus ut imperdiet a venenatis vitae justo</h6>
<ul>
  <li>Lorem ipsum dolor sit amet consectetuer.</li>
  <li>Aenean commodo ligula eget dolor.</li>
  <li>Aenean massa cum sociis natoque penatibus.</li>
</ul>

Styleguide 2.5
*/ 
