/* ==========================================================================
	 ACtion Template or Action Related Widgets
	 ========================================================================== */
/* change some default behaviors */
.action-template h1 {
	margin-bottom:.25em;
}

.action-template #breadcrumbs {
	display:none;
}
#action-submit-quick.submit {
	float:left;
	margin-left:15.5em;
	margin-top:-2.34em;
}
#action-ask p {
	margin:0;
}
#action-submit-full.submit  {
	margin-top:.5em;
	font-size:1.25em;
}

/*
	Small Prints

	Description  : checkbox is hidden
	Compatible   : ?
	Since        : ?
*/
#action-smallprints {
	margin:.25em 0;
}
#action-smallprints label,
#action-smallprints input[type=checkbox] {
	display:none;
}
#action-smallprints input + label {
	display:inline;
	font-size:0.875em; /* 14px */
	line-height:1.4em;
}

/*
	Action Counter

	Description  : counter with both graphical and text only
	Compatible   : ?
	Since        : ?
*/
#action-counter {
	margin:0.4em 0;
}
#action-counter-graphical {
	display:none;
	background:#d7d2d2;
	
}
#action-counter-graphical .completed {
	background:#66cc00;
	display:block;
	text-align:right;
	color:#FFF;
	font-weight:bold;
	font-size:1.125em;
	padding:.311em .444em;
}
#action-counter-graphical .objectives {
	display:none;
}
#action-counter-textual {
	margin:.25em 0;
	color:#666;
	font-style:italic;
	font-size:0.688em;
}

/*
	Social Login

	Description  : social login buttons
	Compatible   : ?
	Since        : ?

	.facebook		facebook icon
	.google			google icon
*/
#main-section .social.login span {
	display:none;
}
#main-section .social.login a {
	height:22px; /* 22px */
	width:60px; /* 60px */
	display:inline-block;
	line-height:1em;
	border:1px solid #CCC;
	margin-bottom:-.4em;
	padding:0 6px;
	border-radius:2px;
}
#main-section .social.login a.facebook {
	background:transparent url(../../img/v03/sociallogin.png) center 0 no-repeat;
}
#main-section .social.login a.google {
	background:transparent url(../../img/v03/sociallogin.png) center -22px no-repeat;
}


/*
	Recent Signers

	Description  : recent signers widget
	Compatible   : ?
	Since        : ?
*/
#action-recent-signers ul {
	padding:0;
}
#action-recent-signers li {
	list-style-type:none;
	font-size:0.813em;
	margin-bottom:10px;
}
#action-recent-signers .since {
	width:8em;
	display:inline-block;
	font-size:0.813em;
	color:#666;
}
#action-recent-signers .name:after {
	content:",";
}
#action-recent-signers .country {
	color:#777;
}
#action-recent-signers .flag {
	margin-right:.25em;
}
#action-social-share {
	
}
/*
	Social Button

	Description  : share buttons with counters
	Compatible   : ?
	Since        : ?
*/
#action-social-share {
	clear:both;
}
#action-social-share ul {
	list-style-type:none;
	padding:0;
}
#action-social-share li {
	display:inline-block;
	margin-right:.25em;
}
#action-social-share .counter span {
	border:1px solid #CCC;
	display:block;
	text-align:center;
	width:48px;
	padding:.5em 0;
	font-size:.875em;
	border-radius:2px;
}
#action-social-share .action a {
	display:block;
	text-align:center;
	width:50px;
	height:25px;
	padding:.5em;
	padding:0;
	margin-top:10px;
	border-radius:2px;
}
/* 
	flat style icons 
	Credit: David Bushell http://dbushell.com @dbushell
*/
#action-social-share .action a span {
	display:none;
}
#action-social-share .facebook a {
	background:transparent url(../../img/v03/social-map.png) 0 -90px no-repeat;
}
#action-social-share .google a {
	background:transparent url(../../img/v03/social-map.png) 0 -45px no-repeat;
}
#action-social-share .twitter a {
	background:transparent url(../../img/v03/social-map.png) 0 0 no-repeat;
}
#action-social-share .pinterest a {
	background:transparent url(../../img/v03/social-map.png) 0 -175px no-repeat;
}
#action-social-share .linkedin a {
	background:transparent url(../../img/v03/social-map.png) 0 -135px no-repeat;
}
/* some fake bubble tip shenanigans */
#action-social-share .counter .tip:before{
	width:1px; height:1px;
	position:absolute;
	margin-left:17px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #CCC;
  border-top-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
	content:" ";
}
#action-social-share .counter .tip:after{
	width:1px; height:1px;
	position:absolute;
	margin-left:17px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #CCC;
  border-top-color: rgba(255, 255, 255, 1);
  display: inline-block;
	content:" ";
	margin-top:-2px;
}

/* ==========================================================================
	 ACtion Template Media Queries
	 ========================================================================== */
/* Smart Phones below 320px */
@media only screen 
and (max-width : 320px) {
	#action-form-authentication .submit {
		position:relative;
		float:none;
		margin-left:0;
		margin-top:.4em;
	}
	.input .tooltip span {
		visibility:visible;
		padding-bottom:.4em;
		position:relative;
		margin:-1.5em 0 0 1.5em;
		display:inline-block;
	}
}

/* Tablets ----------- */
@media only screen 
and (min-width : 768px),
only screen
and (min-width : 1024px) {
	.block {
		width:320px;
	}
	#action-h2,
	#action-ask,
	#action-form {
		clear:right;
		float:right;
		margin-left:3em;
		
	}
  #action-counter,
  #action-details,
  #action-recent-signers,
	#action-social-share,
  #action-multimedia-teaser {
		float:left;
	}
  #action-multimedia-teaser {
		margin-top:-2.33em; /* -h2: 1.5 + .83 */
	}
	#action-h2 {
		margin-top:0; /* -h2: 1.5 + .83 */
	}
	#action-counter-graphical {
		display:block;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	.block {
		width:450px;
	}
}
/* Large screens -----------
@media only screen 
and (min-width : 1600px) {
	#action-form {
		float:right;
	}
  #action-details,
  #action-multimedia-teaser {
		width:570px;
		float:left;
		clear:both;
	}
} */

