/* breadcrumbs */
#breadcrumbs ul {
	padding:0;
	font-size:.875em;
}
#breadcrumbs li {
	display:inline;
	margin: 0;
	padding:0;
	list-style: none;
}
#breadcrumbs li:before {
	content:">";
	padding-right:.25em;
}
#breadcrumbs li:first-child:before {
	content:"";
	padding-right:0;
}

