/* ==========================================================================
	 Header
	 ========================================================================== */
.header {
	position:absolute;
	top:0;
	width:100%;
	height:5.5em; /* 88px */
}
.heading {
	width: 100%;
}
.heading.first {
	background: #66CC00;
	height: 60px;
}
.heading.second {
	border-top: 1px solid #4EA600;
	background: #57b105;
	height: 27px;
}
.heading .heading-holder {
	position: relative;
	margin: auto;
}

/*
 * links and logo
 */
.header a {
	color: #fff;
}
.header .logo {
	display: block;
	background: url(../../img/v03/image-map.png) 0 0 no-repeat;
	width: 153px;
	height: 25px;
	position: absolute;
	top: 18px;
	left: 8px;
}

/*
 * Country selector
 */
.country-selector {
	width: 250px;
	left: 180px;
	top: 18px;
	position: absolute;
	font-size:1.0625em;
}
.country-selector .dropdown-controller a,
.country-selector .dropdown-controller a:hover {
	display: block;
	background: #66CC00 url(../../img/v03/image-map.png) 200px -42px no-repeat;
  padding: 1px 2px 3px 2px;
	height: 14px;
	width: 248px;
	color: #FFF;
	text-decoration: none;
  border: 2px solid #66CC00;
}
.country-selector .dropdown-controller a.dropdown-open,
.country-selector .dropdown-controller a.dropdown-open:hover {
	background: #FFF url(../../img/v03/image-map.png) 200px -64px no-repeat;
	color: #66CC00;
  border: 2px solid #FFF;
}
.country-selector .dropdown .dropdown-list {
	width: 255px;
	margin-top: 2px;
}

/*
 * Additional Nav
 */
.promoted-links ul {
  list-style-type: none;
	float: right;
	margin:.5em 0;
	font-size:0.867em;
}
.promoted-links ul li {
	display: inline;
	padding-right:1em;
}

/*
 * Language Selector
 */
.language-selector {
  float: right;
	margin:.5em 0;
	font-size:0.867em;
}
.language-selector .dropdown-label {
	color:#FFF;
	font-weight:bold;
}
.language-selector .dropdown {
	right:0;
	top:2.1em;
}
.language-selector .dropdown-controller a:after {
	content:"";
	width:12px;
	height:10px;
	display:inline-block;
	background:transparent url(../../img/v03/image-map.png) -30px -45px no-repeat;
	margin-left:3px;
	padding-left:5px;
}

/*
 * Search
 */
.search-form {
	clear: both;
	float: right;
	background: white;
	border: 1px solid #61B905;
	width: 17em;
	height: 21px;
	overflow: hidden;
	margin:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-form label {
	display:none;
}
.search-form .text input[type=text],
.search-form .text input[type=text]:hover,
.search-form .text input[type=text]:focus {
	border: 0;
	background: none;
	float:left;
	width:15em;
	margin:0;
	padding:0 0 0 .5em;
  -webkit-box-shadow: inset 0px 0px 0px rgba(255,255,255,0);
  -moz-box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
	margin-top:2px;
}
.search-form .submit {
	float:right;
}
.search-form .submit input {
	float:right;
	background:none;
	visibility:hidden;
	width:15px;
	height:15px;
}
.search-form .submit span {
	background:transparent url(../../img/v03/image-map.png) -136px -24px no-repeat;
	width:15px;
	height:15px;
	display:block;
	border-radius:3px;
	margin:2px;
	border:1px solid #66CC00;
}

/*
 * Main Navigation
 */
.navigation {
	margin: -1px 0 0 0;
	padding: 0 0 0 10px;
	list-style: none;
	float: left;
	max-width: 680px;
}
.navigation li {
	float: left;
	padding: 0 2px;
	position: relative;
	z-index: 101;
}
.navigation li a {
	float: left;
	cursor: pointer;
}
.navigation li a span {
	float: left;
	font: bold 12px/29px Helvetica, "Trebuchet MS", sans-serif;
	color: #fff;
	padding: 0 10px;
	white-space: nowrap;
}
.navigation li a.current-item, .navigation li a.active-item, .navigation li a:hover {
	text-decoration: none;
	background: #6c0;
	
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	
	-webkit-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 	  2px 0px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 		    2px 0px 0px rgba(50, 50, 50, 0.25);

	margin-right: 4px;
	color: #055905;
}
.navigation li a.current-item span, .navigation li a.active-item span, .navigation li a.hover span, .navigation li a:hover span {
	overflow: hidden;
	position: relative;
	color: #055905;
}
.navigation li a:hover span {
	position: relative;
	color: #055905;
}
.navigation li:hover .drop-holder, .navigation li.hover .drop-holder {
	display: block;
}
.navigation li:hover .drop-content ul ul ul, .navigation li.hover .drop-content ul ul ul {
	display: none;
}
.navigation .drop-holder {
	display: none;
	position: absolute;
	top: 28px;
	left: -100px;
	z-index: 100;
}
.navigation .drop-content {
	height: 370px;
	width: 0;
	background: transparent none;
}
.navigation .drop-content ul {
	margin: 0 0 0 104px;
	padding: 0;
	list-style: none;
	position: absolute;
	border: solid 1px #57b105;
}
.navigation .drop-content ul li {
	float: none;
	width: 210px;
	vertical-align: middle;
	background-color: #fff;
	padding: 0;
}
.navigation .drop-content ul li a {
	float: none;
	display: block;
	background: none;
	font-size: 12px;
	line-height: normal;
	height: 23px;
	line-height: 23px;
	padding: 0 0 0 10px;
	cursor: pointer;
	color: #000;
	position: relative;
	margin: 0;
	width: 200px;
	overflow: hidden;
}
.navigation .drop-content ul li:hover a, .navigation .drop-content ul li.hover a, .navigation .drop-content ul li a:hover {
	background: #57b105;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navigation .drop-content ul li:hover ul, .navigation .drop-content ul li.hover ul {
	display: block;
}
.navigation .drop-content ul ul {
	margin: 0;
	background-position: 0 100%;
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;
}
.navigation .drop-content ul ul li {
	padding: 0;
}
.navigation .drop-content ul li:hover ul li a, .navigation .drop-content ul li.hover ul li a {
	background: none;
	color: #000;
	padding: 0 0 0 10px;
	margin: 0;
	width: 200px;
}
.navigation .drop-content ul li:hover ul li:hover a, .navigation .drop-content ul li.hover ul li.hover a, .navigation .drop-content ul ul li a:hover {
	background: #57b105;
	color: #fff;
}
.navigation .drop-content ul ul li:hover ul, .navigation .drop-content ul ul li.hover ul {
	display: block;
}
.navigation .drop-content ul li:hover ul li:hover ul li a, .navigation .drop-content ul li.hover ul li.hover ul li a, .navigation .drop-content ul ul ul li a {
	background: none;
	color: #000;
	padding: 0 0 0 10px;
	margin: 0;
	width: 200px;
}
.navigation .drop-content ul li:hover ul li:hover ul li:hover a, .navigation .drop-content ul li.hover ul li.hover ul li.hover a, .navigation .drop-content ul ul ul li a:hover {
	background: #57b105;
	color: #fff;
}
.navigation li a.active span, .navigation li a:hover span, .navigation li a.current-item span, .navigation li a.active-item span {
	margin-right: -4px;
}
.navigation .drop-content ul li a.drop,
.navigation .drop-content ul li:hover ul li a.drop, .navigation .drop-content ul li.hover ul li a.drop, .navigation .drop-content ul ul li a.drop,
.navigation .drop-content ul li:hover ul li:hover ul li a.drop2, .navigation .drop-content ul li.hover ul li.hover ul li a.drop2 {
	background: url(../../img/v02/nav-arrow.png) no-repeat 95% 0;
}
.navigation .drop-content ul li:hover a.drop, .navigation .drop-content ul li.hover a.drop, .navigation .drop-content ul li a.drop:hover,
.navigation .drop-content ul li:hover li:hover a.drop, .navigation .drop-content ul li.hover li.hover a.drop, .navigation .drop-content ul ul li a.drop:hover,
.navigation .drop-content ul li:hover ul li:hover ul li:hover a.drop2, .navigation .drop-content ul li.hover ul li.hover ul li.hover a.drop2 {
	background: #57b105 url(../../img/v02/nav-arrow.png) no-repeat 95% -25px;
}
