/* ==========================================================================
	 Header
	 ========================================================================== */
.header {
	position:absolute;
	top:0;
	width:100%;
	height:5.5em; /* 88px */
}
.heading {
	width: 100%;
}
.heading.first {
	background: #66CC00;
	height: 60px;
}
.heading.second {
	border-top: 1px solid #4EA600;
	background: #57b105;
	height: 27px;
}
.heading .heading-holder {
	position: relative;
	margin: auto;
}

/*
 * links and logo
 */
.header a {
	color: #fff;
}
.header .logo {
	display: block;
	background: url(../../img/v03/image-map.png) 0 0 no-repeat;
	width: 153px;
	height: 25px;
	position: absolute;
	top: 18px;
	left: 8px;
}

/*
 * Country selector
 */
.country-selector {
	width: 250px;
	left: 180px;
	top: 18px;
	position: absolute;
	font-size:1.0625em;
}
.country-selector .dropdown-controller a,
.country-selector .dropdown-controller a:hover {
	display: block;
	background: #66CC00 url(../../img/v03/image-map.png) 200px -42px no-repeat;
  padding: 1px 2px 3px 2px;
	height: 14px;
	width: 248px;
	color: #FFF;
	text-decoration: none;
  border: 2px solid #66CC00;
}
.country-selector .dropdown-controller a.dropdown-open,
.country-selector .dropdown-controller a.dropdown-open:hover {
	background: #FFF url(../../img/v03/image-map.png) 200px -64px no-repeat;
	color: #66CC00;
  border: 2px solid #FFF;
}
.country-selector .dropdown .dropdown-list {
	width: 255px;
	margin-top: 2px;
}

/*
 * Additional Nav
 */
.promoted-links ul {
  list-style-type: none;
	float: right;
	margin:.5em 0;
	font-size:0.867em;
}
.promoted-links ul li {
	display: inline;
	padding-right:1em;
}

/*
 * Language Selector
 */
.language-selector {
  float: right;
	margin:.5em 0;
	font-size:0.867em;
}
.language-selector .dropdown-label {
	color:#FFF;
	font-weight:bold;
}
.language-selector .dropdown {
	right:0;
	top:2.1em;
}
.language-selector .dropdown-controller a:after {
	content:"";
	width:12px;
	height:10px;
	display:inline-block;
	background:transparent url(../../img/v03/image-map.png) -30px -45px no-repeat;
	margin-left:3px;
	padding-left:5px;
}

/*
 * Search
 */
.search-form {
	clear: both;
	float: right;
	background: white;
	border: 1px solid #61B905;
	width: 18em;
	height: 21px;
	overflow: hidden;
	margin:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-form label {
	display:none;
}
.search-form .text input[type=text],
.search-form .text input[type=text]:hover,
.search-form .text input[type=text]:focus {
	border: 0;
	background: none;
	float:left;
	width:15em;
	margin:0;
	padding:0 0 0 .5em;
  -webkit-box-shadow: inset 0px 0px 0px rgba(255,255,255,0);
  -moz-box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
	margin-top:2px;
}
.search-form .submit {
	float:right;
}
.search-form .submit input {
	float:right;
	background:none;
	visibility:hidden;
	width:15px;
	height:15px;
}
.search-form .submit span {
	background:transparent url(../../img/v03/image-map.png) -136px -25px no-repeat;
	width:15px;
	height:15px;
	display:block;
	border-radius:3px;
	margin:2px;
	border:1px solid #66CC00;
}

