/* ==========================================================================
	 Header
	 ========================================================================== */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5.5em;
  /* 88px */

}
.heading {
  width: 100%;
}
.heading-first {
  background: #66CC00;
  height: 3.75em;
  /* 60px */

}
.heading .heading-holder {
  position: relative;
  margin: auto;
}
.heading-second .heading-holder {
  /* allows mobile menu to absolute it's way to the top */

  position: static;
}
/*
 * links and logo
 */
.header a {
  color: #fff;
}
.header .logo {
  display: block;
  background: url(../../img/v03/image-map.png) 0 0 no-repeat;
  width: 153px;
  height: 25px;
  position: absolute;
  top: 1.125em;
  left: .5em;
}
/*
 * Country selector
 */
.country-selector {
  width: 15.625em;
  /* 250px */

  left: 11.25em;
  /* 180px */

  top: 1.125em;
  /* 18px */

  position: absolute;
  font-size: 1em;
}
.country-selector .dropdown-controller a,
.country-selector .dropdown-controller a:hover {
  display: block;
  background: #66cc00 url(../../img/v03/image-map.png) 200px -42px no-repeat;
  padding: 1px 4px 3px 2px;
  height: .875em;
  /* 14px */

  width: 15em;
  /* 248px */

  color: #FFF;
  text-decoration: none;
  border: 2px solid #66CC00;
}
.country-selector .dropdown-controller a.dropdown-open,
.country-selector .dropdown-controller a.dropdown-open:hover {
  background: #ffffff url(../../img/v03/image-map.png) 200px -64px no-repeat;
  color: #66CC00;
  border: 2px solid #FFF;
}
.country-selector .dropdown .dropdown-list {
  width: 18.2143em;
  /* 255px */

  margin-top: 0.1429em;
  /* 2px */

  font-size: 0.875em;
  /* 14px */

}
/*
 * Language Selector and Additional Nav
 */
.promoted-links ul,
.language-selector {
  float: right;
  margin: .5em 0;
  font-size: .8125em;
  /* 13px */

}
.promoted-links ul {
  list-style-type: none;
}
.promoted-links ul li {
  display: inline;
  padding-right: 1em;
}
.language-selector .dropdown-label {
  color: #FFF;
  font-weight: bold;
}
.language-selector .dropdown {
  right: 0;
  top: 2.1em;
}
.language-selector .dropdown-controller a:after {
  content: "";
  width: 12px;
  height: 10px;
  display: inline-block;
  background: transparent url(../../img/v03/image-map.png) -30px -45px no-repeat;
  margin-left: 3px;
  padding-left: 5px;
}
/*
 * Search
 */
.search-form {
  clear: both;
  float: right;
  background: white;
  border: 1px solid #61B905;
  width: 17em;
  height: 21px;
  overflow: hidden;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-form label {
  display: none;
}
.search-form .text input[type=text],
.search-form .text input[type=text]:hover,
.search-form .text input[type=text]:focus {
  border: 0;
  background: none;
  float: left;
  width: 17.143em;
  /* 240px */

  margin: 0;
  padding: 0 0 0 .571em;
  /* 8px */

  -webkit-box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0);
  -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  margin-top: 2px;
  font-size: .875em;
  /* 14px */

}
.search-form .submit {
  float: right;
}
.search-form .submit input {
  float: right;
  background: none;
  visibility: hidden;
  width: 15px;
  height: 15px;
}
.search-form .submit span {
  background: transparent url(../../img/v03/image-map.png) -136px -24px no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 3px;
  margin: 2px;
  border: 1px solid #66CC00;
}
/*
 * Main Navigation
 */
ul.navigation {
  margin-top: 0px;
  /* overrides ul default margin */

  padding-left: 0px;
}
#main-nav {
  /* container for mobile menu */

  background: none #1D1D1D;
  /* dark background color of the mobile menu */

  position: absolute;
  top: 0px;
  right: 0px;
  width: 94%;
  max-width: 350px;
  padding: 40px 3% 1em 3%;
}
#main-nav {
  /* mobile menu when not visible */

  right: -50000px;
  /* JS will change this value 0 */

  display: none;
  /* JS will change this value to block*/

}
.navigation li a {
  display: block;
  padding: .8em 1em;
  background: none #101010;
  font-weight: bold;
  margin-bottom: .4em;
}
.navigation li .drop-content a {
  font-weight: normal;
  background: none transparent;
  margin-left: 3%;
}
.navigation li ul {
  padding-left: 0px;
}
/* 2nd level background */
.navigation li a.drop {
  background-color: #161616;
}
/* 3rd level background */
.navigation li .drop-content ul a {
  background-color: #161616;
}
/* 3rd level intentation */
.navigation li .drop-content ul ul a {
  background-color: transparent;
  margin-left: 6%;
}
#mobilemenu-close {
  background: url("../../img/v03/message_x.png") no-repeat scroll center center #1d1d1d;
  color: rgba(0, 0, 0, 0);
  display: block;
  height: 40px;
  position: absolute;
  left: 0px;
  text-indent: -100000px;
  top: 0;
  width: 40px;
}
#mobilemenu-icon {
  background: url("../../img/v03/menu_icon.png") no-repeat scroll center center #a1cc76;
  border: 1px solid #5BB700;
  border-radius: 5px 5px 5px 5px;
  color: #565456;
  display: block;
  font-style: normal;
  font-weight: normal;
  text-indent: -100000px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 0;
}
@media only screen and (min-width: 768px) {
  html {
    /*
   * Header
   */
  
    /*
   * Main Navigation on Desktop with dropdown
   */
  
  }
  html .heading-second {
    height: 1.6875em;
    /* 27px */
  
    background: #57b105;
    border-top: 1px solid #4EA600;
  }
  html #main-nav {
    position: static;
    width: auto;
    max-width: none;
    background: none transparent;
    padding: 0;
    display: block;
  }
  html ul.navigation {
    margin: -1px 0 0 0;
    padding: 0 0 0 10px;
    list-style: none;
    float: left;
    max-width: 42.5em;
    /* 625px */
  
    background: none transparent;
  }
  html .navigation li {
    float: left;
    padding: 0 .1666666666em;
    /* 2px/12 */
  
    position: relative;
    z-index: 101;
  }
  html .navigation li a {
    float: left;
    cursor: pointer;
    display: inline;
    padding: 0;
    background: none transparent;
  }
  html .navigation li a span {
    float: left;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: .75em;
    /*12px */
  
    line-height: 2.41667em;
    /* 29px/12 */
  
    font-weight: bold;
    color: #fff;
    padding: 0 .83333333333em;
    /* 10px/12 */
  
    white-space: nowrap;
  }
  html .navigation li a.current-item,
  html .navigation li a.active-item,
  html .navigation li a:hover,
  html .navigation li a:focus {
    text-decoration: none;
    background: #6c0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
    margin-right: 4px;
    color: #055905;
  }
  html .navigation li a.current-item span,
  html .navigation li a.active-item span,
  html .navigation li a.hover span,
  html .navigation li a:hover span,
  html .navigation li a:focus span {
    overflow: hidden;
    position: relative;
    color: #055905;
  }
  html .navigation li a:hover span,
  html .navigation li a:focus span {
    position: relative;
    color: #055905;
  }
  html .navigation li .drop-content a {
    /* overrides the mobile styling */
  
    margin-left: 0;
  }
  html .navigation li:hover .drop-holder,
  html .navigation li.hover .drop-holder {
    display: block;
  }
  html .navigation li:hover .drop-content ul ul ul,
  html .navigation li.hover .drop-content ul ul ul {
    display: none;
  }
  html .navigation .drop-holder {
    display: none;
    position: absolute;
    top: 1.75em;
    /* 28px */
  
    left: -6.25em;
    /* 100px */
  
    z-index: 100;
  }
  html .navigation .drop-content {
    height: 23.125em;
    /* 370px */
  
    width: 0;
    background: transparent none;
  }
  html .navigation .drop-content ul {
    margin: 0 0 0 6.5em;
    /* 104px */
  
    padding: 0;
    list-style: none;
    position: absolute;
    border: solid 1px #57b105;
  }
  html .navigation .drop-content ul li {
    float: none;
    width: 13.125em;
    /* 210px */
  
    vertical-align: middle;
    background-color: #fff;
    padding: 0;
  }
  html .navigation .drop-content ul li a {
    float: none;
    display: block;
    background: none;
    font-size: .75em;
    height: 1.91667em;
    /* 23px/12 */
  
    line-height: 1.91667em;
    /* 23px/12 */
  
    padding: 0 0 0 .83333333em;
    /* 10px/12 */
  
    cursor: pointer;
    color: #000;
    position: relative;
    margin: 0;
    width: 16.66667em;
    /* 200px/12 */
  
    overflow: hidden;
  }
  html .navigation .drop-content ul li:hover a,
  html .navigation .drop-content ul li a:hover,
  html .navigation .drop-content ul li:focus a,
  html .navigation .drop-content ul li a:focus {
    background: #57b105;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  html .navigation .drop-content ul li:hover ul,
  html .navigation .drop-content ul li:focus ul {
    display: block;
  }
  html .navigation .drop-content ul ul {
    margin: 0;
    background-position: 0 100%;
    display: none;
    position: absolute;
    left: 100%;
    top: -1px;
  }
  html .navigation .drop-content ul ul li {
    padding: 0;
  }
  html .navigation .drop-content ul li:hover ul li:hover a,
  html .navigation .drop-content ul ul li a:hover,
  html .navigation .drop-content ul li:focus ul li:focus a,
  html .navigation .drop-content ul ul li a:focus {
    background: #57b105;
    color: #fff;
  }
  html .navigation .drop-content ul ul li:hover ul,
  html .navigation .drop-content ul ul li:focus ul {
    display: block;
  }
  html .navigation .drop-content ul li:hover ul li a,
  html .navigation .drop-content ul li:focus ul li a,
  html .navigation .drop-content ul li:hover ul li:hover ul li a,
  html .navigation .drop-content ul li:focus ul li:focus ul li a,
  html .navigation .drop-content ul ul ul li a {
    background: none;
    color: #000;
    padding: 0 0 0 .83333333em;
    /* 10px/12 */
  
    margin: 0;
    width: 16.66667em;
    /* 200px/12 */
  
  }
  html .navigation .drop-content ul li:hover ul li:hover ul li:hover a,
  html .navigation .drop-content ul li:focus ul li:focus ul li:focus a,
  html .navigation .drop-content ul ul ul li a:hover .navigation .drop-content ul ul ul li a:focus {
    background: #57b105;
    color: #fff;
  }
  html .navigation li a.active span,
  html .navigation li a:hover span,
  html .navigation li a.current-item span,
  html .navigation li a.active-item span {
    margin-right: -4px;
  }
  html .navigation .drop-content ul li a.drop,
  html .navigation .drop-content ul li:hover ul li a.drop,
  html .navigation .drop-content ul li:focus ul li a.drop,
  html .navigation .drop-content ul ul li a.drop,
  html .navigation .drop-content ul li:hover ul li:hover ul li a.drop2,
  html .navigation .drop-content ul li:focus ul li:focus ul li a.drop2 {
    background: url(../../img/v02/nav-arrow.png) no-repeat 95% 0;
  }
  html .navigation .drop-content ul li:hover a.drop,
  html .navigation .drop-content ul li:focus a.drop,
  html .navigation .drop-content ul li a.drop:hover,
  html .navigation .drop-content ul li:hover li:hover a.drop,
  html .navigation .drop-content ul li:focus li:focus a.drop,
  html .navigation .drop-content ul ul li a.drop:hover,
  html .navigation .drop-content ul ul li a.drop:focus,
  html .navigation .drop-content ul li:hover ul li:hover ul li:hover a.drop2,
  html .navigation .drop-content ul li:focus ul li:focus ul li:focus a.drop2 {
    background: #57b105 url(../../img/v02/nav-arrow.png) no-repeat 95% -25px;
  }
}
.sevensome {
  /*
 * Header
 */

  /*
 * Main Navigation on Desktop with dropdown
 */

}
.sevensome .heading-second {
  height: 1.6875em;
  /* 27px */

  background: #57b105;
  border-top: 1px solid #4EA600;
}
.sevensome #main-nav {
  position: static;
  width: auto;
  max-width: none;
  background: none transparent;
  padding: 0;
  display: block;
}
.sevensome ul.navigation {
  margin: -1px 0 0 0;
  padding: 0 0 0 10px;
  list-style: none;
  float: left;
  max-width: 42.5em;
  /* 625px */

  background: none transparent;
}
.sevensome .navigation li {
  float: left;
  padding: 0 .1666666666em;
  /* 2px/12 */

  position: relative;
  z-index: 101;
}
.sevensome .navigation li a {
  float: left;
  cursor: pointer;
  display: inline;
  padding: 0;
  background: none transparent;
}
.sevensome .navigation li a span {
  float: left;
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  font-size: .75em;
  /*12px */

  line-height: 2.41667em;
  /* 29px/12 */

  font-weight: bold;
  color: #fff;
  padding: 0 .83333333333em;
  /* 10px/12 */

  white-space: nowrap;
}
.sevensome .navigation li a.current-item,
.sevensome .navigation li a.active-item,
.sevensome .navigation li a:hover,
.sevensome .navigation li a:focus {
  text-decoration: none;
  background: #6c0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
  margin-right: 4px;
  color: #055905;
}
.sevensome .navigation li a.current-item span,
.sevensome .navigation li a.active-item span,
.sevensome .navigation li a.hover span,
.sevensome .navigation li a:hover span,
.sevensome .navigation li a:focus span {
  overflow: hidden;
  position: relative;
  color: #055905;
}
.sevensome .navigation li a:hover span,
.sevensome .navigation li a:focus span {
  position: relative;
  color: #055905;
}
.sevensome .navigation li .drop-content a {
  /* overrides the mobile styling */

  margin-left: 0;
}
.sevensome .navigation li:hover .drop-holder,
.sevensome .navigation li.hover .drop-holder {
  display: block;
}
.sevensome .navigation li:hover .drop-content ul ul ul,
.sevensome .navigation li.hover .drop-content ul ul ul {
  display: none;
}
.sevensome .navigation .drop-holder {
  display: none;
  position: absolute;
  top: 1.75em;
  /* 28px */

  left: -6.25em;
  /* 100px */

  z-index: 100;
}
.sevensome .navigation .drop-content {
  height: 23.125em;
  /* 370px */

  width: 0;
  background: transparent none;
}
.sevensome .navigation .drop-content ul {
  margin: 0 0 0 6.5em;
  /* 104px */

  padding: 0;
  list-style: none;
  position: absolute;
  border: solid 1px #57b105;
}
.sevensome .navigation .drop-content ul li {
  float: none;
  width: 13.125em;
  /* 210px */

  vertical-align: middle;
  background-color: #fff;
  padding: 0;
}
.sevensome .navigation .drop-content ul li a {
  float: none;
  display: block;
  background: none;
  font-size: .75em;
  height: 1.91667em;
  /* 23px/12 */

  line-height: 1.91667em;
  /* 23px/12 */

  padding: 0 0 0 .83333333em;
  /* 10px/12 */

  cursor: pointer;
  color: #000;
  position: relative;
  margin: 0;
  width: 16.66667em;
  /* 200px/12 */

  overflow: hidden;
}
.sevensome .navigation .drop-content ul li:hover a,
.sevensome .navigation .drop-content ul li a:hover,
.sevensome .navigation .drop-content ul li:focus a,
.sevensome .navigation .drop-content ul li a:focus {
  background: #57b105;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sevensome .navigation .drop-content ul li:hover ul,
.sevensome .navigation .drop-content ul li:focus ul {
  display: block;
}
.sevensome .navigation .drop-content ul ul {
  margin: 0;
  background-position: 0 100%;
  display: none;
  position: absolute;
  left: 100%;
  top: -1px;
}
.sevensome .navigation .drop-content ul ul li {
  padding: 0;
}
.sevensome .navigation .drop-content ul li:hover ul li:hover a,
.sevensome .navigation .drop-content ul ul li a:hover,
.sevensome .navigation .drop-content ul li:focus ul li:focus a,
.sevensome .navigation .drop-content ul ul li a:focus {
  background: #57b105;
  color: #fff;
}
.sevensome .navigation .drop-content ul ul li:hover ul,
.sevensome .navigation .drop-content ul ul li:focus ul {
  display: block;
}
.sevensome .navigation .drop-content ul li:hover ul li a,
.sevensome .navigation .drop-content ul li:focus ul li a,
.sevensome .navigation .drop-content ul li:hover ul li:hover ul li a,
.sevensome .navigation .drop-content ul li:focus ul li:focus ul li a,
.sevensome .navigation .drop-content ul ul ul li a {
  background: none;
  color: #000;
  padding: 0 0 0 .83333333em;
  /* 10px/12 */

  margin: 0;
  width: 16.66667em;
  /* 200px/12 */

}
.sevensome .navigation .drop-content ul li:hover ul li:hover ul li:hover a,
.sevensome .navigation .drop-content ul li:focus ul li:focus ul li:focus a,
.sevensome .navigation .drop-content ul ul ul li a:hover .navigation .drop-content ul ul ul li a:focus {
  background: #57b105;
  color: #fff;
}
.sevensome .navigation li a.active span,
.sevensome .navigation li a:hover span,
.sevensome .navigation li a.current-item span,
.sevensome .navigation li a.active-item span {
  margin-right: -4px;
}
.sevensome .navigation .drop-content ul li a.drop,
.sevensome .navigation .drop-content ul li:hover ul li a.drop,
.sevensome .navigation .drop-content ul li:focus ul li a.drop,
.sevensome .navigation .drop-content ul ul li a.drop,
.sevensome .navigation .drop-content ul li:hover ul li:hover ul li a.drop2,
.sevensome .navigation .drop-content ul li:focus ul li:focus ul li a.drop2 {
  background: url(../../img/v02/nav-arrow.png) no-repeat 95% 0;
}
.sevensome .navigation .drop-content ul li:hover a.drop,
.sevensome .navigation .drop-content ul li:focus a.drop,
.sevensome .navigation .drop-content ul li a.drop:hover,
.sevensome .navigation .drop-content ul li:hover li:hover a.drop,
.sevensome .navigation .drop-content ul li:focus li:focus a.drop,
.sevensome .navigation .drop-content ul ul li a.drop:hover,
.sevensome .navigation .drop-content ul ul li a.drop:focus,
.sevensome .navigation .drop-content ul li:hover ul li:hover ul li:hover a.drop2,
.sevensome .navigation .drop-content ul li:focus ul li:focus ul li:focus a.drop2 {
  background: #57b105 url(../../img/v02/nav-arrow.png) no-repeat 95% -25px;
}
