/* ==========================================================================
	 Layout
	 ========================================================================== */
/* 
	layout organization is as follow
		--container : 100% width can be used for background
			--section : self-centered major area
				--block : major component of an area
*/

body {
  position: relative;
  overflow-x: hidden;
}

#root-container {
	overflow-x:hidden;
}
#main-section {
	margin-top:60px; /* 87px - 27px of bottom-menu */
	padding-top:.5em;
}
.page-section {
	margin:auto;
	padding:0 1.25em;
}/* clearfix */
.page-section:before, 
.page-section:after {
	content: " ";
	display: table;
}
.page-section:after {
	clear: both;
}

/* mobile first no show */
.tools,
#breadcrumbs,
.country-selector,
.footer.sitemap,
.footer.highlight,
.footer.small .bottom-menu {
	display:none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 320px)	{
	.page-section {
		width:200px;
		font-size:0.8125em; /* 13px */
	}
}
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	.page-section {
		width:300px;
		font-size:0.875em; /* 14px */
	}
}
@media only screen 
and (min-width : 480px) 
and (max-width : 768px) {
	.page-section {
		width:440px;
		font-size:0.9375em; /* 15px */
	}
}
/* everything that is not big hide menu */
@media only screen 
and (min-width : 768px) {
	/* hide menu */
	.heading.second,
	.tools,
	#breadcrumbs,
	.country-selector {
		display:block;
	}
	#main-section {
		margin-top:87px; /* 60px - 27px of bottom-menu */
	}
}

/* iPads (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	.page-section {
		width:700px;
		font-size:0.9375em; /* 15px */
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	.page-section {
		width:920px;
		font-size:1em; /* 16px */
	}
	.footer.sitemap,
	.footer.highlight,
	.footer.small .bottom-menu {
		display:block;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1600px) {
	.page-section {
		font-size:1em; /* 16px */
		width:920px; /* 960 = 940 +20+20 margin */
	}
}

