/* ==========================================================================
	 Layout
	 ========================================================================== */
/* 
	layout organization is as follow
		--container : 100% width can be used for background
			--section : self-centered major area
				--block : major component of an area
*/

#root-container {
}
#main-section {
	margin-top:5.5em;	
	padding-top:.5em;	
	margin-bottom:3em;
}
.page-section {
	margin:auto;
	width:960px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 320px)  {
	.page-section {
		width:200px;
		font-size:0.8125em; /* 13px */
	}
	.tools,
	.country-selector {
		display:none;
	}
}
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	.page-section {
		width:310px;
		font-size:0.875em; /* 14px */
	}
	.tools,
	.country-selector {
		display:none;
	}
}
@media only screen 
and (min-width : 480px) 
and (max-width : 768px) {
	.page-section {
		width:460px;
		font-size:0.9375em; /* 15px */
	}
	.tools {
		display:none;
	}
}
/* iPads (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	.page-section {
		width:700px;
		font-size:0.9375em; /* 15px */
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	.page-section {
		width:960px;
		font-size:0.9375em; /* 15px */
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1600px) {
	.page-section {
		width:960px;
		font-size:1em; /* 16px */
	}
}


