body {
	font-size: 16px; /* 1em = 16px */
	line-height: normal;
	font-familly:Verdana,Geneva,Arial,Helvetica,sans-serif;
	color:#333;
}
p {
	font-size:.875em;  /* 14px/16 */
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.75em; /* 28px/16 */
	font-family: Arial,Helvetica,sans-serif; 
	margin-top:.625em; /* 10px/16 */
	color:#66CC00;
	font-weight:normal;
}
h2 {
	font-size: 1.375em; /* 22px/16 */
	font-family: Arial,Helvetica,sans-serif; 
	color:#003300;
	font-weight:bold;
}
h3 {
	font: 1em Arial,Helvetica,sans-serif; /* 14px */
	color:#003300;
	font-weight:bold;
}

