/*
Search Form

Markup:
<div class="heading heading-first">
    <div class="heading-holder page-section">
        <div class="tools">
            <div style="margin: 30px 100px 0 0;" class="search-form">
                <form action="#" id="search" method="post" accept-charset="utf-8">
                <div class="input text search">
                    <label for="SearchText">Search</label>
                    <input name="data[Search][text]" class="required" maxlength="64" type="text" id="SearchText" placeholder="search"/>
                </div>
                <div id="search-submit" class="submit">
                    <span style="background:transparent url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) -136px -24px no-repeat;"><input type="submit" value="search"/></span>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

Styleguide 5.1.4
*/

/* 
    desktop and tablets
*/
.sevensome_macro(){
    .heading .search-form {
        width:250px;
        float:right;
        border:1px solid @greens-5;
        clear:both;
        .rounded_all(3px);
        background: @white;
        padding:1px 0 1px 1px;
        height:1.1em;
    }
    .heading .search-form .input {
        width:232px;
        background: @white;
        float:left;
        padding:0;
        margin:0;
    }
    .heading .search-form .input input[type=text] {
        min-width:225px;
        width:225px;
        border:0;
        padding:0 0 0 3px;
        display: inline-block;
        zoom: 1;
        margin:0;
        -webkit-appearance: none;
        .rounded_all(0);
        .boxshadow(none);
        float:left;
        height: 1.4em; //18px;
        line-height: 1.4em; // IE fix
        font-size: 0.8em; //13px;
    }
    .heading .search-form input[type=submit] {
        display:none;
        float:left;
    }
    .heading .search-form span {
        border:0;
        float:right;
        width:1em;
        height:1em;
        margin:1px 0 0 0;
        cursor: pointer;
        background:transparent url(https://secured.greenpeace.org/international/Global/international/code/p3/img/image-map.png) -136px -24px no-repeat;
        .rounded_all(3px);
    }
}
