/*
	Social Button

	Description	: share buttons with counters
	Compatible	 : ?
	Since				: ?
*/
.social-share {
  clear: both;
}
.social-share ul {
  list-style-type: none;
  padding: 0;
}
.social-share li {
  display: inline-block;
  margin-right: .25em;
}
.social-share .counter span {
  border: 1px solid #cccccc;
  display: block;
  text-align: center;
  width: 48px;
  padding: .5em 0;
  font-size: .875em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.social-share .action a {
  display: block;
  text-align: center;
  width: 50px;
  height: 25px;
  padding: .5em;
  padding: 0;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* 
	flat style icons 
	Credit: David Bushell http://dbushell.com @dbushell
*/
.social-share .action a span {
  display: none;
}
.social-share .facebook a {
  background: transparent url(../../img/social-map.png) 0 -90px no-repeat;
}
.social-share .google a {
  background: transparent url(../../img/social-map.png) 0 -45px no-repeat;
}
.social-share .twitter a {
  background: transparent url(../../img/social-map.png) 0 0 no-repeat;
}
.social-share .pinterest a {
  background: transparent url(../../img/social-map.png) 0 -175px no-repeat;
}
.social-share .linkedin a {
  background: transparent url(../../img/social-map.png) 0 -135px no-repeat;
}
/* some fake bubble tip shenanigans */
.social-share .counter {
  background: #ffffff;
}
.social-share .tip:before {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-left: 17px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  content: " ";
}
.social-share .tip:after {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-left: 17px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: #ffffff;
  display: inline-block;
  content: " ";
  margin-top: -2px;
}
/* IE specific */
.lt-ie8 .social-share li {
  display: inline;
  margin-right: .5em;
}
#social-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#social-modal.modal-show {
  visibility: visible;
}
#social-modal.modal-show .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
}
#social-modal .modal-content {
  background: #ffffff;
  min-height: 400px;
  -webkit-box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
  filter: alpha(opacity = (0));
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#social-modal h3 {
  margin: 0;
  line-height: 35px;
  text-indent: 0.5em;
}
#social-modal h3 button {
  float: right;
  display: block;
  width: 25px;
  height: 35px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-indent: 200%;
  white-space: nowrap;
  border: none;
  background: #66cc00 url(../../img/message_x.png) center center no-repeat;
}
#social-modal h3 button:hover {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(70));
  filter: alpha(opacity = (70));
}
#social-modal iframe {
  width: 100%;
  min-height: 430px;
  border: none;
}
#social-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
  filter: alpha(opacity = (0));
  background: rgba(102, 204, 0, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.no-rgba #social-overlay {
  background: #66cc00;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
  filter: alpha(opacity = (80));
}
.modal-show ~ #social-overlay {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  visibility: visible;
}
