// Breadcrumb navigation
//
// li - all items are displayed inline and separated by ">"
#breadcrumbs {
    ul {
        padding: 0;
        margin-bottom: 1.4em;
        font-size: .875em;
    }
    li {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li:before {
        content: "›";
        padding-right: .25em;
    }
    li:first-child:before {
        content: "";
        padding-right: 0;
    }
}
