/*
Flag icons

Classes are used to choose the right flag for each country.

Markup:
<span class="flag icon {$modifiers}"></span>

.flag.ad              - flag
.flag.ae              - flag
.flag.af              - flag
.flag.ag              - flag
.flag.ai              - flag
.flag.al              - flag
.flag.am              - flag
.flag.an              - flag
.flag.ao              - flag
.flag.ar              - flag
.flag.as              - flag
.flag.at              - flag
.flag.au              - flag
.flag.aw              - flag
.flag.ax              - flag
.flag.az              - flag
.flag.ba              - flag
.flag.bb              - flag
.flag.bd              - flag
.flag.be              - flag
.flag.bf              - flag
.flag.bg              - flag
.flag.bh              - flag
.flag.bi              - flag
.flag.bj              - flag
.flag.bm              - flag
.flag.bn              - flag
.flag.bo              - flag
.flag.br              - flag
.flag.bs              - flag
.flag.bt              - flag
.flag.bv              - flag
.flag.bw              - flag
.flag.by              - flag
.flag.bz              - flag
.flag.ca              - flag
.flag.catalonia       - flag
.flag.cc              - flag
.flag.cd              - flag
.flag.cf              - flag
.flag.cg              - flag
.flag.ch              - flag
.flag.ci              - flag
.flag.ck              - flag
.flag.cl              - flag
.flag.cm              - flag
.flag.cn              - flag
.flag.co              - flag
.flag.cr              - flag
.flag.cs              - flag
.flag.cu              - flag
.flag.cv              - flag
.flag.cx              - flag
.flag.cy              - flag
.flag.cz              - flag
.flag.de              - flag
.flag.dj              - flag
.flag.dk              - flag
.flag.dm              - flag
.flag.do              - flag
.flag.dz              - flag
.flag.ec              - flag
.flag.ee              - flag
.flag.eg              - flag
.flag.eh              - flag
.flag.england         - flag
.flag.er              - flag
.flag.es              - flag
.flag.et              - flag
.flag.europeanunion   - flag
.flag.fam             - flag
.flag.fi              - flag
.flag.fj              - flag
.flag.fk              - flag
.flag.fm              - flag
.flag.fo              - flag
.flag.fr              - flag
.flag.ga              - flag
.flag.gb              - flag
.flag.uk              - flag
.flag.gd              - flag
.flag.ge              - flag
.flag.gf              - flag
.flag.gh              - flag
.flag.gi              - flag
.flag.gl              - flag
.flag.gm              - flag
.flag.gn              - flag
.flag.gp              - flag
.flag.gq              - flag
.flag.gr              - flag
.flag.gs              - flag
.flag.gt              - flag
.flag.gu              - flag
.flag.gw              - flag
.flag.gy              - flag
.flag.hk              - flag
.flag.hm              - flag
.flag.hn              - flag
.flag.hr              - flag
.flag.ht              - flag
.flag.hu              - flag
.flag.id              - flag
.flag.ie              - flag
.flag.il              - flag
.flag.in              - flag
.flag.io              - flag
.flag.iq              - flag
.flag.ir              - flag
.flag.is              - flag
.flag.it              - flag
.flag.jm              - flag
.flag.jo              - flag
.flag.jp              - flag
.flag.ke              - flag
.flag.kg              - flag
.flag.kh              - flag
.flag.ki              - flag
.flag.km              - flag
.flag.kn              - flag
.flag.kp              - flag
.flag.kr              - flag
.flag.kw              - flag
.flag.ky              - flag
.flag.kz              - flag
.flag.la              - flag
.flag.lb              - flag
.flag.lc              - flag
.flag.li              - flag
.flag.lk              - flag
.flag.lr              - flag
.flag.ls              - flag
.flag.lt              - flag
.flag.lu              - flag
.flag.lv              - flag
.flag.ly              - flag
.flag.ma              - flag
.flag.mc              - flag
.flag.md              - flag
.flag.me              - flag
.flag.mg              - flag
.flag.mh              - flag
.flag.mk              - flag
.flag.ml              - flag
.flag.mm              - flag
.flag.mn              - flag
.flag.mo              - flag
.flag.mp              - flag
.flag.mq              - flag
.flag.mr              - flag
.flag.ms              - flag
.flag.mt              - flag
.flag.mu              - flag
.flag.mv              - flag
.flag.mw              - flag
.flag.mx              - flag
.flag.my              - flag
.flag.mz              - flag
.flag.na              - flag
.flag.nc              - flag
.flag.ne              - flag
.flag.nf              - flag
.flag.ng              - flag
.flag.ni              - flag
.flag.nl              - flag
.flag.no              - flag
.flag.np              - flag
.flag.nr              - flag
.flag.nu              - flag
.flag.nz              - flag
.flag.om              - flag
.flag.pa              - flag
.flag.pe              - flag
.flag.pf              - flag
.flag.pg              - flag
.flag.ph              - flag
.flag.pk              - flag
.flag.pl              - flag
.flag.pm              - flag
.flag.pn              - flag
.flag.pr              - flag
.flag.ps              - flag
.flag.pt              - flag
.flag.pw              - flag
.flag.py              - flag
.flag.qa              - flag
.flag.re              - flag
.flag.ro              - flag
.flag.rs              - flag
.flag.ru              - flag
.flag.rw              - flag
.flag.sa              - flag
.flag.sb              - flag
.flag.sc              - flag
.flag.scotland        - flag
.flag.sd              - flag
.flag.se              - flag
.flag.sg              - flag
.flag.sh              - flag
.flag.si              - flag
.flag.sj              - flag
.flag.sk              - flag
.flag.sl              - flag
.flag.sm              - flag
.flag.sn              - flag
.flag.so              - flag
.flag.sr              - flag
.flag.st              - flag
.flag.sv              - flag
.flag.sy              - flag
.flag.sz              - flag
.flag.tc              - flag
.flag.td              - flag
.flag.tf              - flag
.flag.tg              - flag
.flag.th              - flag
.flag.tj              - flag
.flag.tk              - flag
.flag.tl              - flag
.flag.tm              - flag
.flag.tn              - flag
.flag.to              - flag
.flag.tr              - flag
.flag.tt              - flag
.flag.tv              - flag
.flag.tw              - flag
.flag.tz              - flag
.flag.ua              - flag
.flag.ug              - flag
.flag.um              - flag
.flag.us              - flag
.flag.uy              - flag
.flag.uz              - flag
.flag.va              - flag
.flag.vc              - flag
.flag.ve              - flag
.flag.vg              - flag
.flag.vi              - flag
.flag.vn              - flag
.flag.vu              - flag
.flag.wales           - flag
.flag.wf              - flag
.flag.ws              - flag
.flag.ye              - flag
.flag.yt              - flag
.flag.za              - flag
.flag.zm              - flag
.flag.zw              - flag

Styleguide 7.
*/

.flag.icon{
    width:16px;
    height:13px;
    display:inline-block;
    background:url("../img/flags.png")
    no-repeat 0 11px;
}

.flag.ad {background-position:0 -96px;}
.flag.ae {background-position:0 -3888px;}
.flag.af {background-position:0 -16px;}
.flag.ag {background-position:0 -160px;}
.flag.ai {background-position:0 -128px;}
.flag.al {background-position:0 -48px;}
.flag.am {background-position:0 -192px;}
.flag.an {background-position:0 -2560px;}
.flag.ao {background-position:0 -112px;}
.flag.ar {background-position:0 -176px;}
.flag.as {background-position:0 -80px;}
.flag.at {background-position:0 -240px;}
.flag.au {background-position:0 -224px;}
.flag.aw {background-position:0 -208px;}
.flag.ax {background-position:0 -32px;}
.flag.az {background-position:0 -256px;}
.flag.ba {background-position:0 -464px;}
.flag.bb {background-position:0 -320px;}
.flag.bd {background-position:0 -304px;}
.flag.be {background-position:0 -368px;}
.flag.bf {background-position:0 -576px;}
.flag.bg {background-position:0 -560px;}
.flag.bh {background-position:0 -288px;}
.flag.bi {background-position:0 -592px;}
.flag.bj {background-position:0 -400px;}
.flag.bm {background-position:0 -416px;}
.flag.bn {background-position:0 -544px;}
.flag.bo {background-position:0 -448px;}
.flag.br {background-position:0 -496px;}
.flag.bs {background-position:0 -272px;}
.flag.bt {background-position:0 -432px;}
.flag.bv {background-position:0 -2752px;}
.flag.bw {background-position:0 -480px;}
.flag.by {background-position:0 -352px;}
.flag.bz {background-position:0 -384px;}
.flag.ca {background-position:0 -640px;}
.flag.catalonia {background-position:0 -3505px;}
.flag.cc {background-position:0 -784px;}
.flag.cd {background-position:0 -976px;}
.flag.cf {background-position:0 -704px;}
.flag.cg {background-position:0 -3024px;}
.flag.ch {background-position:0 -3600px;}
.flag.ci {background-position:0 -880px;}
.flag.ck {background-position:0 -848px;}
.flag.cl {background-position:0 -736px;}
.flag.cm {background-position:0 -624px;}
.flag.cn {background-position:0 -752px;}
.flag.co {background-position:0 -800px;}
.flag.cr {background-position:0 -864px;}
.flag.cu {background-position:0 -912px;}
.flag.cv {background-position:0 -672px;}
.flag.cx {background-position:0 -768px;}
.flag.cy {background-position:0 -944px;}
.flag.cz {background-position:0 -960px;}
.flag.de {background-position:0 -1376px;}
.flag.dj {background-position:0 -1008px;}
.flag.dk {background-position:0 -992px;}
.flag.dm {background-position:0 -1024px;}
.flag.do {background-position:0 -1040px;}
.flag.dz {background-position:0 -64px;}
.flag.ec {background-position:0 -1072px;}
.flag.ee {background-position:0 -1168px;}
.flag.eg {background-position:0 -1088px;}
.flag.eh {background-position:0 -4096px;}
.flag.england {background-position:0 -1120px;}
.flag.er {background-position:0 -1152px;}
.flag.es {background-position:0 -3504px;}
.flag.et {background-position:0 -1184px;}
.flag.europeanunion {background-position:0 -1200px;}
.flag.fam {background-position:0 -3952px;}
.flag.fi {background-position:0 -1264px;}
.flag.fj {background-position:0 -1248px;}
.flag.fk {background-position:0 -1216px;}
.flag.fm {background-position:0 -2336px;}
.flag.fo {background-position:0 -1232px;}
.flag.fr {background-position:0 -1280px;}
.flag.ga {background-position:0 -1328px;}
.flag.gb,
.flag.uk {background-position:0 -3904px;}
.flag.gd {background-position:0 -1472px;}
.flag.ge {background-position:0 -1360px;}
.flag.gf {background-position:0 -1280px;}
.flag.gh {background-position:0 -1392px;}
.flag.gi {background-position:0 -1408px;}
.flag.gl {background-position:0 -1456px;}
.flag.gm {background-position:0 -1344px;}
.flag.gn {background-position:0 -1552px;}
.flag.gp {background-position:0 -3952px;}
.flag.gq {background-position:0 -1136px;}
.flag.gr {background-position:0 -1440px;}
.flag.gs {background-position:0 -3440px;}
.flag.gt {background-position:0 -1504px;}
.flag.gu {background-position:0 -1488px;}
.flag.gw {background-position:0 -1536px;}
.flag.gy {background-position:0 -1568px;}
.flag.hk {background-position:0 -1616px;}
.flag.hm {background-position:0 -224px;}
.flag.hn {background-position:0 -1600px;}
.flag.hr {background-position:0 -896px;}
.flag.ht {background-position:0 -1584px;}
.flag.hu {background-position:0 -1632px;}
.flag.id {background-position:0 -1680px;}
.flag.ie {background-position:0 -1728px;}
.flag.il {background-position:0 -1760px;}
.flag.in {background-position:0 -1664px;}
.flag.io {background-position:0 -3952px;}
.flag.iq {background-position:0 -1712px;}
.flag.ir {background-position:0 -1696px;}
.flag.is {background-position:0 -1648px;}
.flag.it {background-position:0 -1776px;}
.flag.jm {background-position:0 -1792px;}
.flag.jo {background-position:0 -1840px;}
.flag.jp {background-position:0 -1808px;}
.flag.ke {background-position:0 -1872px;}
.flag.kg {background-position:0 -1936px;}
.flag.kh {background-position:0 -608px;}
.flag.ki {background-position:0 -1888px;}
.flag.km {background-position:0 -832px;}
.flag.kn {background-position:0 -3120px;}
.flag.kp {background-position:0 -2704px;}
.flag.kr {background-position:0 -3456px;}
.flag.kw {background-position:0 -1920px;}
.flag.ky {background-position:0 -688px;}
.flag.kz {background-position:0 -1856px;}
.flag.la {background-position:0 -1952px;}
.flag.lb {background-position:0 -1984px;}
.flag.lc {background-position:0 -3136px;}
.flag.li {background-position:0 -2048px;}
.flag.lk {background-position:0 -3520px;}
.flag.lr {background-position:0 -2016px;}
.flag.ls {background-position:0 -2000px;}
.flag.lt {background-position:0 -2064px;}
.flag.lu {background-position:0 -2080px;}
.flag.lv {background-position:0 -1968px;}
.flag.ly {background-position:0 -2032px;}
.flag.ma {background-position:0 -2432px;}
.flag.mc {background-position:0 -2368px;}
.flag.md {background-position:0 -2352px;}
.flag.me {background-position:0 -2400px;}
.flag.mg {background-position:0 -2128px;}
.flag.mh {background-position:0 -2240px;}
.flag.mk {background-position:0 -2112px;}
.flag.ml {background-position:0 -2192px;}
.flag.mm {background-position:0 -2464px;}
.flag.mn {background-position:0 -2384px;}
.flag.mo {background-position:0 -2096px;}
.flag.mp {background-position:0 -2736px;}
.flag.mq {background-position:0 -2256px;}
.flag.mr {background-position:0 -2272px;}
.flag.ms {background-position:0 -2416px;}
.flag.mt {background-position:0 -2208px;}
.flag.mu {background-position:0 -2288px;}
.flag.mv {background-position:0 -2176px;}
.flag.mw {background-position:0 -2144px;}
.flag.mx {background-position:0 -2320px;}
.flag.my {background-position:0 -2160px;}
.flag.mz {background-position:0 -2448px;}
.flag.na {background-position:0 -2512px;}
.flag.nc {background-position:0 -2592px;}
.flag.ne {background-position:0 -2640px;}
.flag.nf {background-position:0 -2688px;}
.flag.ng {background-position:0 -2656px;}
.flag.ni {background-position:0 -2624px;}
.flag.nl {background-position:0 -2576px;}
.flag.no {background-position:0 -2752px;}
.flag.np {background-position:0 -2544px;}
.flag.nr {background-position:0 -2528px;}
.flag.nu {background-position:0 -2672px;}
.flag.nz {background-position:0 -2608px;}
.flag.om {background-position:0 -2784px;}
.flag.pa {background-position:0 -2848px;}
.flag.pe {background-position:0 -2896px;}
.flag.pf {background-position:0 -1296px;}
.flag.pg {background-position:0 -2864px;}
.flag.ph {background-position:0 -2912px;}
.flag.pk {background-position:0 -2800px;}
.flag.pl {background-position:0 -2944px;}
.flag.pm {background-position:0 -3952px;}
.flag.pn {background-position:0 -2928px;}
.flag.pr {background-position:0 -2976px;}
.flag.ps {background-position:0 -2832px;}
.flag.pt {background-position:0 -2960px;}
.flag.pw {background-position:0 -2816px;}
.flag.py {background-position:0 -2880px;}
.flag.qa {background-position:0 -2992px;}
.flag.re {background-position:0 -1280px;}
.flag.ro {background-position:0 -3040px;}
.flag.rs {background-position:0 -3280px;}
.flag.ru {background-position:0 -3056px;}
.flag.rw {background-position:0 -3072px;}
.flag.sa {background-position:0 -3232px;}
.flag.sb {background-position:0 -3376px;}
.flag.sc {background-position:0 -3296px;}
.flag.scotland {background-position:0 -3248px;}
.flag.sd {background-position:0 -3536px;}
.flag.se {background-position:0 -3584px;}
.flag.sg {background-position:0 -3328px;}
.flag.sh {background-position:0 -3104px;}
.flag.si {background-position:0 -3360px;}
.flag.sj {background-position:0 -2752px;}
.flag.sk {background-position:0 -3344px;}
.flag.sl {background-position:0 -3312px;}
.flag.sm {background-position:0 -3200px;}
.flag.sn {background-position:0 -3264px;}
.flag.so {background-position:0 -3392px;}
.flag.sr {background-position:0 -3552px;}
.flag.st {background-position:0 -3216px;}
.flag.sv {background-position:0 -1104px;}
.flag.sy {background-position:0 -3616px;}
.flag.sz {background-position:0 -3568px;}
.flag.tc {background-position:0 -3808px;}
.flag.td {background-position:0 -720px;}
.flag.tf {background-position:0 -1312px;}
.flag.tg {background-position:0 -3696px;}
.flag.th {background-position:0 -3680px;}
.flag.tj {background-position:0 -3648px;}
.flag.tk {background-position:0 -3712px;}
.flag.tl {background-position:0 -1056px;}
.flag.tm {background-position:0 -3792px;}
.flag.tn {background-position:0 -3760px;}
.flag.to {background-position:0 -3728px;}
.flag.tr {background-position:0 -3776px;}
.flag.tt {background-position:0 -3744px;}
.flag.tv {background-position:0 -3824px;}
.flag.tw {background-position:0 -3632px;}
.flag.tz {background-position:0 -3664px;}
.flag.ua {background-position:0 -3872px;}
.flag.ug {background-position:0 -3856px;}
.flag.um {background-position:0 -3936px;}
.flag.us {background-position:0 -3936px;}
.flag.uy {background-position:0 -3968px;}
.flag.uz {background-position:0 -3984px;}
.flag.va {background-position:0 -4016px;}
.flag.vc {background-position:0 -3168px;}
.flag.ve {background-position:0 -4032px;}
.flag.vg {background-position:0 -528px;}
.flag.vi {background-position:0 -3840px;}
.flag.vn {background-position:0 -4048px;}
.flag.vu {background-position:0 -4000px;}
.flag.wales {background-position:0 -4064px;}
.flag.wf {background-position:0 -4080px;}
.flag.ws {background-position:0 -3184px;}
.flag.ye {background-position:0 -4112px;}
.flag.yt {background-position:0 -2304px;}
.flag.za {background-position:0 -3424px;}
.flag.zm {background-position:0 -4128px;}
.flag.zw {background-position:0 -4144px;}
