/*
Messages for validation error and example

`<div.text.error>`, `<div.text.success>`, can be used to add status messages or example. 
Additional messages are wrapped in `<.error-message>`, `<.success-messages>`

FF2+, Chrome1+, IE?, Opera?, Safari?

Since version 3.0

Markup:
<form action="#" id="action-form-pledgeName" method="post" accept-charset="utf-8" class="js-track-abandonment">
  <div class="input text email">
    <label for="UserEmail">Email</label>
    <input name="email" class="email {$modifiers}" required maxlength="64" type="email" pattern="[^ @]*@[^ @]*\.[^ @]*" id="UserEmail" placeholder="Email*">
</div>
  <div class="firstname">
    <label for="UserFirstname">Firstname</label>
    <input name="FIrstname" class="alphaPlus {$modifiers}" required maxlength="64" type="text" id="UserFirstname" placeholder="Firstname">
  </div>
  <div class="lastname">
    <label for="UserLastname">Lastname</label>
    <input name="LAstname" class="alpha {$modifiers}" required maxlength="64" type="text" id="UserLastname" placeholder="Lastname">
  </div>
  <div class="phone">
    <label for="UserPhone">Mobile Phone</label>
    <input name="phone" class="numeric {$modifiers}" required maxlength="64" type="tel" id="UserPhone" placeholder="Phone"/>
  </div>
  <div class="search">
    <label for="search">Search</label>
    <input name="search" class="{$modifiers}" required maxlength="64" type="search" id="search" placeholder="Search"/>
  </div>
  <div class="postcode">
    <label for="password">Password</label>
    <input name="password" class="alphanumeric {$modifiers}" required maxlength="64" type="password" id="password" placeholder="Password"/>
  </div>
</form>

.error             - error messages used for validation issues
.error:hover       - error messages used for validation issues
.error:focus       - error messages used for validation issues

Styleguide 3.2
*/

/*
    Messages for validation error and example

    Description	: <div.text.error>, <div.text.success>, can be used to add status messages or example. 
                                 Additional messages are wrapped in <.error-message>, <.success-messages>
    Compatible	: FF2+, Chrome1+, IE?, Opera?, Safari?
    Since				: version 3.0

    .info		     - can be used for example messages prior validation
    .error			 - error messages used for validation issues
*/
form .message {
    position:relative;
    padding: 0 0 0 0.8em;
	
}

form .tooltip {
    padding:0;
	
}

form .tooltip,
form .message {
    background-color:transparent;
    border:0;
	 
}
form .message .error {
    display:block;
    padding: 0 0.5em 1em;
    color: @red-1;
}
form .info {
    position:relative;
    color: @steels-3;
	
}
form .message .error:before,
form .info:before {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    width:.75em;
    height:.75em;
    padding:0 .125em .25em .125em;
    .rounded_all(2px);
    font-weight:bold;
    color:@white;
    line-height:100%;
}
form .info:before {
    content:"i";
    background: @blues-2;
    color:@white;
}
form .message .error:before {
    position:absolute;
    left:0;
    top:0.1em;
    content:"!";
    background:@red-1;
    color:@white;
}
form .message .error span,
form .info span {
    display:block;
    margin:-1.25em 1.5em 0 1.5em;
    .rounded_all(2px);
}

form input.error,
form select.error {
    border:1px solid @red-1;
    .boxshadow(0; 0; 10px; @red-1);
}
form .error:focus {
    border:1px solid @red-1;
}

form .errorSummary {
    margin-top:1em;
}

// mixins to put everthing that belongs in a media query
// in the media query fallback as well
.form_desktop() {
    form .tooltip {
        display:block;
        width:10px;
        float:right;
    }
    form .tooltip:before {
        display:block;
        margin-top:.75em;
		padding:.1em .3em .4em .3em;
    }
    form .tooltip:hover:before {
        background:#b1c3d0;
		
    }
    form .tooltip span {
        visibility:hidden;
        display:block;
        position:absolute;
        max-width:200px;
        background:@white;		
        float:left;
        padding:.8em;
        .boxshadow(0px; 0px; 4px; #baccd9);
        bottom: 1.5em;
        right: -86px;
        width: 130px;
    }
    form .tooltip:hover span {
        visibility:visible;
    }

}
.form_desktop_wide() {
    form .tooltip span {
        min-width: 200px;
        bottom: auto;
        right: auto;
    }
}
/* if large screen display info as tooltips */
@media only screen and (min-width : 1024px) {
    .form_desktop;
}
/* fallback for browsers where media queries won't work */
.desktop {
    .form_desktop;
}
@media only screen and (min-width : 1350px) {
    .form_desktop_wide;
}
/* fallback for browsers where media queries won't work */
.wide {
    .form_desktop_wide;
}

/* do not show javascript needed warning if js is enabled 
     this needs modernizr to work
*/
.js .message.nojs {
    display:none;
}

/*
Radio input.

Markup:
<div class="gender">
  <fieldset class="radio">
    <legend>Gender</legend>
    <label for="UserGenderMale"><input type="radio" name="gender" id="UserGenderMale" value="male">Male</label>                        
    <label for="UserGenderFemale"><input type="radio" name="gender" id="UserGenderFemale" value="female">Female</label>                        
  </fieldset>
</div>

Styleguide 3.4
*/

/*
Checkbox input.

Markup:
<div class="newsletters">
  <fieldset class="checkbox">
    <legend>Subscribe to our newsletters</legend>
    <label for="UserNewsletterGeneral"><input type="checkbox" name="newsletters" id="UserNewsletterGeneral" value="general">General</label>                        
    <label for="UserNewsletterArctic"><input type="checkbox" name="newsletters" id="UserNewsletterArctic" value="arctic">Arctic</label>                        
  </fieldset>
</div>

Styleguide 3.5
*/

fieldset.checkbox,
fieldset.radio {
    padding: .5em 0 1em 0;
}
fieldset.checkbox legend,
fieldset.radio legend {
    padding: .25em 1em 0 .5em;
}

.checkbox.remember label{
    padding-left: 1em;
}

.checkbox.styled label,
.radio.styled label {
	display: inline-block;
	position: relative;
	padding-left: 1.6em;
	margin-left: 1em;
    line-height: .4em;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
.checkbox.styled label:before,
.radio.styled label:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: .2em;
	background-color: @blues-2;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio.styled label:before {
	border-radius: 8px;
}
.checkbox.styled label {
	margin-bottom: 10px;
}
.checkbox.styled label:before {
    border-radius: 3px;
}

.radio.styled input[type=radio]:checked + label:before {
    content: "\2022";
    color: @white;
    font-size: 1em;
    line-height: .9em;
    text-align: center;
}

.checkbox.styled input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 1em;
	color: @white;
	text-align: center;
    line-height: 1em;
}

/*
    Select

    Description	: ?
    Compatible	: ?
    Since				: version 3.0
*/
select,
select:hover {
    width:15.25em;
    margin-bottom:10px;
    padding:.25em .5em .15em .2em;
    margin:.2em 0 .5em 0;
    border: 1px solid @grays-4;
    /*background:@white;
    .rounded_all(3px);
    border:1px solid #BBB;*/
}
 
/* system fields */
.system.fields {
    display:none;
}

/* placeholders */
::-webkit-input-placeholder {
    color:#555;
}
:-moz-placeholder {
    color:#555;
}
::-moz-placeholder {
    color:#555;
}
:-ms-input-placeholder {
    color:#555;
}
