/*
Tooltip

FF2+, Chrome1+, IE?8+, Opera?, Safari?

Markup:
<div id="action-form">
    <form action="#" id="action-form-pledgeName" method="post" accept-charset="utf-8" class="js-track-abandonment">
        <div class="phone">
            <label for="UserPhone">Mobile Phone</label>
            <input name="phone" class="numeric" required maxlength="64" type="tel" id="UserPhone" placeholder="Phone*" />
            <div class="tooltip info" style="float:none; display:inline-block;">
                <span>We need your phone number to send you update about the campaign.</span>
            </div>
        </div>
    </form>
</div>

Styleguide 3.4
*/


form .message {
    position:relative;
    padding: 0 0 0 0.8em;
	
}

form .tooltip {
    padding:0;
	
}

form .tooltip,
form .message {
    background-color:transparent;
    border:0;
	 
}

/*
Messages for validation error and example

`<div.text.error>`, `<div.text.success>`, can be used to add status messages or example. 
Additional messages are wrapped in `<.error-message>`, `<.success-messages>`

FF2+, Chrome1+, IE?, Opera?, Safari?

Since version 3.0

Markup:
<form action="#" id="action-form-pledgeName" method="post" accept-charset="utf-8" class="js-track-abandonment">
    <div class="input text email">
        <label for="UserEmail">Email</label>
        <input name="email" class="email {$modifiers}" required maxlength="64" type="email" pattern="[^ @]*@[^ @]*\.[^ @]*" id="UserEmail" placeholder="Email*">
    <div class="message">
        <span for="UserEmail" class="{$modifiers}">This field is required.<span>
    </div>
    </div>
</form>

.error             - error messages used for validation issues
.error:focus       - error messages used for validation issues

Styleguide 3.2
*/

form .message .error {
    display:block;
    padding: 0 0.5em 1em;
    color: @red-1;
}
form .info {
    position:relative;
    color: @steels-3;
	
}
form .message .error:before,
form .info:before {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    width:.75em;
    height:.75em;
    padding:0 .125em .25em .125em;
    .rounded_all(2px);
    font-weight:bold;
    font-family: Palatino;
    color:@white;
    line-height:120%;
}
form .info:before {
    content:"i";
    background: @blues-2;
    color:@white;
}
form .message .error:before {
    position:absolute;
    left:0;
    top:0.1em;
    content:"!";
    background:@red-1;
    color:@white;
}
form .message .error span,
form .info span {
    display:block;
    margin:-1.25em 1.5em 0 1.5em;
    .rounded_all(2px);
}

form input.error:focus {
    border:1px solid @red-1;
}

form .errorSummary {
    margin-top:1em;
}

// mixins to put everthing that belongs in a media query
// in the media query fallback as well
.form_desktop() {
    form .tooltip {
        display:block;
        width:10px;
        float:right;
    }
    form .tooltip:before {
        display:block;
        margin-top:.75em;
		padding:.1em .3em .4em .3em;
    }
    form .tooltip:hover:before {
        background:#b1c3d0;
		
    }
    form .tooltip span {
        visibility:hidden;
        display:block;
        position:absolute;
        max-width:200px;
        background:@white;		
        float:left;
        padding:.8em;
        .boxshadow(0px; 0px; 4px; #baccd9);
        bottom: 1.5em;
        right: -86px;
        width: 130px;
    }
    form .tooltip:hover span {
        visibility:visible;
    }

}
.form_desktop_wide() {
    form .tooltip span {
        min-width: 200px;
        bottom: auto;
        right: auto;
    }
}
/* if large screen display info as tooltips */
@media only screen and (min-width : 1024px) {
    .form_desktop;
}
/* fallback for browsers where media queries won't work */
.desktop {
    .form_desktop;
}
@media only screen and (min-width : 1350px) {
    .form_desktop_wide;
}
/* fallback for browsers where media queries won't work */
.wide {
    .form_desktop_wide;
}

/* do not show javascript needed warning if js is enabled 
     this needs modernizr to work
*/
.js .message.nojs {
    display:none;
}

/*
Radio input.

Markup:
<div class="gender">
    <fieldset class="radio styled">
        <legend>Gender</legend>
        <input type="radio" name="gender" id="UserGenderMale" value="male">
        <label for="UserGenderMale">Male</label>
        <input type="radio" name="gender" id="UserGenderFemale" value="female">
        <label for="UserGenderFemale">Female</label>
    </fieldset>
</div>

Styleguide 3.5
*/

/*
Checkbox input.

Markup:
<div class="newsletters">
    <fieldset class="checkbox styled">
        <legend>Subscribe to our newsletters</legend>
        <input type="checkbox" name="newsletters" id="UserNewsletterGeneral" value="general">
        <label for="UserNewsletterGeneral">General</label>
        <input type="checkbox" name="newsletters" id="UserNewsletterArctic" value="arctic">
        <label for="UserNewsletterArctic">Arctic</label>
    </fieldset>
</div>

Styleguide 3.6
*/

fieldset.checkbox,
fieldset.radio {
    padding: .5em 0 1em 0;
}
fieldset.checkbox legend,
fieldset.radio legend {
    padding: .25em 1em 0 .5em;
}

.checkbox.remember label{
    padding-left: 1em;
}

.checkbox.styled label,
.radio.styled label {
	display: inline-block;
	position: relative;
	padding-left: 1.6em;
	margin-left: 1em;
    line-height: .4em;
}

input[type=radio],
input[type=checkbox] {
	display: none;
}
.checkbox.styled label:before,
.radio.styled label:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: .2em;
    border: 1px solid @grays-4;
	background-color: @white;
}

.radio.styled label:before {
	border-radius: 8px;
}
.checkbox.styled label {
	margin-bottom: 10px;
}
.checkbox.styled label:before {
    border-radius: 3px;
}

.radio.styled input[type=radio]:checked + label:before {
    content: "\2022";
    color: @grays-1;
    font-size: 1em;
    line-height: .8em;
    text-align: center;
}

.checkbox.styled input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 1em;
	color: @grays-1;
	text-align: center;
    line-height: 1em;
}

.lt-ie9 {
    .checkbox.styled label,
    .radio.styled label {
        margin-left: 0;	    
        padding-left: 0;
    }
    .checkbox.styled label:before,
    .radio.styled label:before {
	    display: none;
    }
    input[type=radio],
    input[type=checkbox] {
	    display: inline-block;
        width: 15px;
        margin-left: .6em;
    }
    fieldset.checkbox,
    fieldset.radio {
        padding-bottom: 0;
    }
}

/*
    Select

    Description	: ?
    Compatible	: ?
    Since				: version 3.0
*/
.select-styling {
  width: 94%;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: @white;
  display:inline-block;
  color: 0 1px 3px rgba(0,0,0,.13), inset 0 1px 0 #fff;
  background-image: linear-gradient(bottom, #dcdcdc 0%, #dcdcdc 2%, #f3f3f3 100%);
  border: 1px solid @grays-4;
    &:hover {
        border: 1px solid #999;
    }
}

// arrow style
.select-styling:after {
content: "\25BC";
position: absolute;
top: 0;
right: 0;
bottom: 0;
font-size: 60%;
line-height: 30px;
padding: 0 7px;
background: #000;
background-color: @white;
color: @grays-1;
}

.select-styling select {
  width: 100%;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
  height: 30px;
  display: block;
  padding: 5px 25px 4px 7px;
  margin: 0;
  -moz-appearance: window;
  -moz-padding-end: 19px;
  background: transparent;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-styling select::-ms-expand {
    display: none; // removes the dropdown arrow in ie
}

.lt-ie10 {
    .select-styling select {
        width:105%;
    }
    .select-styling:after {
        display:none;
    }
}
 
/* system fields */
.system.fields {
    display:none;
}

/* placeholders */
::-webkit-input-placeholder {
    color:#555;
}
:-moz-placeholder {
    color:#555;
}
::-moz-placeholder {
    color:#555;
}
:-ms-input-placeholder {
    color:#555;
}
