/*
Recent Signers

Shows the signers signers in the current action. It has a min-height of 14em. <br/>
    `li`        One line, ellipsis if content doesn't fit. <br/>
    `.since`    Timestamp in gray text. <br/>
    `.country`  Country name in grayutext. <br/>
    `.flag`     Flag icon margin.

Markup:
<div id="action-recent-signers">
    <h3>Recent Signers</h3>
    <ul>
        <li>
            <span class="since" data-since="2013-10-21 12:00:00">an hour ago</span>
            <span class="icon flag in"></span>
            <span class="name">James Norther,</span>
            <span class="country">India</span>
        </li>
        <li>
            <span class="since" data-since="2013-10-12 12:00:00">8 hours ago</span>
            <span class="icon flag nz"></span>
            <span class="name">Nick Younger,</span>
            <span class="country">New-zealand</span>
        </li>
        <li>
            <span class="since" data-since="2013-10-11 12:00:00">19 hours ago</span>
            <span class="icon flag nl"></span>
            <span class="name">Eoin Dubskyer,</span>
            <span class="country">Netherlands</span>
        </li>
        <li>
            <span class="since" data-since="2013-10-10 12:00:00">a day ago</span>
            <span class="icon flag fr"></span>
            <span class="name">Mr Splashy Pants,</span>
            <span class="country">France</span>
        </li>
    </ul>
</div>

Styleguide 9.
*/

#action-recent-signers {
    clear: right;
    min-height:14em;
    ul {
        padding: 0;
		font-size: 0.913em;
    }
    li {
        list-style-type: none;
        font-size: 0.813em;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }
    .since {
        min-width: 8em;
        display: inline-block;
        font-size: 0.813em;
        vertical-align:1px;
        color: @grays-2;
    }
    .country {
        color: #777;
        //display: none;
    }
    .flag {
        margin-right: .75em;
        vertical-align:-1px;
    }
}

