/*
 * Header layout
 */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 88px;
}
.heading {
	width: 100%;
}
.heading.first {
	background: #66CC00;
	height: 60px;
}
.heading.second {
	border-top: 1px solid #4EA600;
	background: #57b105;
	height: 27px;
}
.heading .heading-holder {
	position: relative;
	width: 960px;
	margin: auto;
}

/*
 * links and logo
 */
.header a {
	color: #fff;
}
.header .logo {
	display: block;
	background: url(../../img/logo.png) 0 0 no-repeat;
	width: 153px;
	height: 25px;
	position: absolute;
	top: 18px;
	left: 8px;
}

/*
 * Country selector
 */
.country-selector {
	width: 250px;
	left: 180px;
	top: 18px;
	position: absolute;
}
.country-selector .dropdown-controller a,
.country-selector .dropdown-controller a:hover {
	display: block;
	background: #66CC00 url(../../img/selects.png) 200px -1px no-repeat;
  padding: 1px 2px 3px 2px;
	height: 14px;
	width: 248px;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
  border: 2px solid #66CC00;
}
.country-selector .dropdown-controller a.dropdown-open,
.country-selector .dropdown-controller a.dropdown-open:hover {
	background: #FFF url(../../img/selects.png) 200px -24px no-repeat;
	color: #66CC00;
  border: 2px solid #FFF;
}
.country-selector .dropdown .dropdown-list {
	width: 255px;
	margin-top: 2px;
}

/*
 * Additional Nav
 */
.promoted-links ul {
  list-style-type: none;
	float: right;
	margin:.75em 0 .5em 0;
}
.promoted-links ul li {
	display: inline;
	padding-right:1em;
}

/*
 * Language Selector
 */
.language-selector {
  float: right;
	margin:.75em 0 .5em 0;
}
.language-selector .dropdown-label {
	color:#FFF;
	font-weight:bold;
}

/*
 * Search: 
 */
.search-form {
	clear: both;
	float: right;
	background: white;
	border: 1px solid #61B905;
	width: 270px;
	height: 20px;
	overflow: hidden;
	margin:0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-form .text {
	float: left;
	padding: 2px 7px;
	width: 235px;
	border: 0;
	background: none;
	color: #989898;
	font: 12px Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 1px 0 0;
	outline: 0;
}
.search-form .btn-search {
	margin: 2px 0 0 3px;
	padding: 0;
	float: left;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	background: transparent url(../../img/btn-search.gif) no-repeat 0 0;
}
.search-button-ready-hover, .search-button-ready, .search-button-hover, .search-button, .form-button-ready-hover, .form-button-ready, .form-button-hover, .form-button {
	background: transparent url(../../img/btn-default-right.png) no-repeat scroll right top;
	float: right;
	height: 22px;
	padding: 0 4px 0 0;
}
.search-button-ready-hover span, .search-button-ready span, .search-button-hover span, .search-button span, .form-button-ready-hover span, .form-button-ready span, .form-button-hover span, .form-button span {
	background: transparent url(../../img/btn-default-left.png) no-repeat scroll left top;
	height: 22px;
	display: block;
}
.search-button-ready-hover span, .search-button-ready span, .search-button-hover span, .search-button span {
	background: transparent url(../../img/btn-default-left-search.png) no-repeat scroll left top;
	padding: 0 0 0 15px;
}
.search-button-ready-hover input, .search-button-ready input, .search-button-hover input, .search-button input, .form-button-ready-hover input, .form-button-ready input, .form-button-hover input, .form-button input, .form-button-ready a, .form-button-ready-hover a {
	background: none;
	border: none;
	color: #fff!important;
	cursor: pointer;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0 7px 0 10px;
	outline: none;
}
.form-button-ready a:hover, .form-button-ready-hover a:hover {
	text-decoration: none;
}
.search-button-hover, .form-button-hover {
	background-position: right -22px;
}
.search-button-hover span, .form-button-hover span {
	background-position: left -22px;
}
.search-button-ready, .form-button-ready {
	background-position: right -44px;
}
.search-button-ready span, .form-button-ready span {
	background-position: left -44px;
}
.search-button-ready-hover, .form-button-ready-hover {
	background-position: right -66px;
}
.search-button-ready-hover span, .form-button-ready-hover span {
	background-position: left -66px;
}

/*
 * Main Navigation
 */
.navigation {
	margin: -1px 0 0 0;
	padding: 0 0 0 10px;
	list-style: none;
	float: left;
	max-width: 680px;
}
.navigation li {
	float: left;
	padding: 0 2px;
	position: relative;
	z-index: 101;
}
.navigation li a {
	float: left;
	cursor: pointer;
}
.navigation li a span {
	float: left;
	font: bold 12px/29px Helvetica, "Trebuchet MS", sans-serif;
	color: #fff;
	padding: 0 10px;
	white-space: nowrap;
}
.navigation li a.current-item, .navigation li a.active-item, .navigation li a:hover {
	text-decoration: none;
	background: #6c0;
	
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	
	-webkit-box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 	  2px 0px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 		    2px 0px 0px rgba(50, 50, 50, 0.25);

	margin-right: 4px;
	color: #055905;
}
.navigation li a.current-item span, .navigation li a.active-item span, .navigation li a.hover span, .navigation li a:hover span {
	overflow: hidden;
	position: relative;
	color: #055905;
}
.navigation li a:hover span {
	position: relative;
	color: #055905;
}
.navigation li:hover .drop-holder, .navigation li.hover .drop-holder {
	display: block;
}
.navigation li:hover .drop-content ul ul ul, .navigation li.hover .drop-content ul ul ul {
	display: none;
}
.navigation .drop-holder {
	display: none;
	position: absolute;
	top: 28px;
	left: -100px;
	z-index: 100;
}
.navigation .drop-content {
	height: 370px;
	width: 0;
	background: transparent none;
}
.navigation .drop-content ul {
	margin: 0 0 0 104px;
	padding: 0;
	list-style: none;
	position: absolute;
	border: solid 1px #57b105;
}
.navigation .drop-content ul li {
	float: none;
	width: 210px;
	vertical-align: middle;
	background-color: #fff;
	padding: 0;
}
.navigation .drop-content ul li a {
	float: none;
	display: block;
	background: none;
	font-size: 12px;
	line-height: normal;
	height: 23px;
	line-height: 23px;
	padding: 0 0 0 10px;
	cursor: pointer;
	color: #000;
	position: relative;
	margin: 0;
	width: 200px;
	overflow: hidden;
}
.navigation .drop-content ul li:hover a, .navigation .drop-content ul li.hover a, .navigation .drop-content ul li a:hover {
	background: #57b105;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navigation .drop-content ul li:hover ul, .navigation .drop-content ul li.hover ul {
	display: block;
}
.navigation .drop-content ul ul {
	margin: 0;
	background-position: 0 100%;
	display: none;
	position: absolute;
	left: 100%;
	top: -1px;
}
.navigation .drop-content ul ul li {
	padding: 0;
}
.navigation .drop-content ul li:hover ul li a, .navigation .drop-content ul li.hover ul li a {
	background: none;
	color: #000;
	padding: 0 0 0 10px;
	margin: 0;
	width: 200px;
}
.navigation .drop-content ul li:hover ul li:hover a, .navigation .drop-content ul li.hover ul li.hover a, .navigation .drop-content ul ul li a:hover {
	background: #57b105;
	color: #fff;
}
.navigation .drop-content ul ul li:hover ul, .navigation .drop-content ul ul li.hover ul {
	display: block;
}
.navigation .drop-content ul li:hover ul li:hover ul li a, .navigation .drop-content ul li.hover ul li.hover ul li a, .navigation .drop-content ul ul ul li a {
	background: none;
	color: #000;
	padding: 0 0 0 10px;
	margin: 0;
	width: 200px;
}
.navigation .drop-content ul li:hover ul li:hover ul li:hover a, .navigation .drop-content ul li.hover ul li.hover ul li.hover a, .navigation .drop-content ul ul ul li a:hover {
	background: #57b105;
	color: #fff;
}
.navigation li a.active span, .navigation li a:hover span, .navigation li a.current-item span, .navigation li a.active-item span {
	margin-right: -4px;
}
.navigation .drop-content ul li a.drop,
.navigation .drop-content ul li:hover ul li a.drop, .navigation .drop-content ul li.hover ul li a.drop, .navigation .drop-content ul ul li a.drop,
.navigation .drop-content ul li:hover ul li:hover ul li a.drop2, .navigation .drop-content ul li.hover ul li.hover ul li a.drop2 {
	background: url(../../img/nav-arrow.png) no-repeat 95% 0;
}
.navigation .drop-content ul li:hover a.drop, .navigation .drop-content ul li.hover a.drop, .navigation .drop-content ul li a.drop:hover,
.navigation .drop-content ul li:hover li:hover a.drop, .navigation .drop-content ul li.hover li.hover a.drop, .navigation .drop-content ul ul li a.drop:hover,
.navigation .drop-content ul li:hover ul li:hover ul li:hover a.drop2, .navigation .drop-content ul li.hover ul li.hover ul li.hover a.drop2 {
	background: #57b105 url(../../img/nav-arrow.png) no-repeat 95% -25px;
}
/*
 * Sign in: 
 */
.sign {
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
	float: right;
	display: inline;
}
.sign span {
	font-weight: 400;
}
.sign li: first-child:before {
	content: " ";
}
.sign li {
	float: left;
	font: bold 12px/29px Helvetica, "Trebuchet MS", sans-serif;
	color: #000;
	padding: 0 0 0 2px;
	display: inline-block;
}
.sign li:before {
	content: "|";
	color: white;
	margin: 0 4px 0 0;
}
.sign li a {
	font: bold 12px/29px Helvetica, "Trebuchet MS", sans-serif;
	color: #fff;
	padding: 0 2px;
}
