/* ==========================================================================
	 IE overrides (lower then 8)
	 ========================================================================== */
.lt-ie8 .twocol {
	margin-top: 0;
}
.lt-ie8 input.firstname {
	width: 120px;
	margin: 0 5px 0 0;
}
.lt-ie8 input.lastname {
	width: 135px;
}
.lt-ie8 .form select {
	width:280px;
}
.lt-ie8 .form .button.send {
	float: right;
	margin: 0 70px 0 0;
}
.lt-ie8 .paper .bottom-left, .lt-ie8 .paper .bottom-right {
	bottom: 4px;
}
.lt-ie8 .paper .paper-bottom {
	bottom: -13px;
}
