/*
 * Center Page Layout:
 */
.twocol {
	width: 100%;
	overflow: hidden;
	margin: 16px 0 0;
	padding: 11px 0;
}
.twocol .col {
	float: left;
	color: white;
	width: 380px;
}
.twocol .col.action {
	width: 540px;
	margin: 0 20px 0 0;
	padding: 10px 0;
	background:url(../../img/bg-action.png);
}

.footer-holder,
.content-holder {
	position: relative;
	width: 960px;
	margin: 88px auto 0 auto;
}

